In [11]:
import pandas as pd
import numpy as np

# Analisis de trayectorio

Dataset de la informacion de paraderos (busstop.csv):
- Muestra informacion de los paraderos que se utilizan durante el trayectorio de los autobuses, tanto como la latitud y longitud.
- Se consideran puntos gps en formato de latitud y longitud


Se procesa la nueva trayectoria de paraderos y analizar los radios que se les asignaran para el geofencing, creando un nuevo archivo de la trayectoria de paraderos.

In [13]:
ida = pd.read_csv('../data/busstops_ida.csv', sep=',')
ida = ida.drop(columns=['radio', 'number'])
ida['tipo'] = ['ida' for _ in range(len(ida))]
#ida

In [14]:
vuelta =  pd.read_csv('../data/busstop.csv', sep=',')
vuelta = vuelta.drop(columns=['number', 'radio'])
vuelta = vuelta.tail(152-81)
vuelta['tipo'] = ['vuelta' for _ in range(len(vuelta))]
#vuelta

In [77]:
allbusstop_df = pd.concat([ida, vuelta], ignore_index=True)
allbusstop_df['id'] = [f'{i}' for i in range(len(allbusstop_df))]
print(allbusstop_df.info())
allbusstop_df['latitude_longitude'] = allbusstop_df.apply(lambda row: (row['latitude'], row['longitude']), axis=1)
allbusstop_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          155 non-null    object
 1   name        155 non-null    object
 2   navigation  155 non-null    int64
 3   latitude    155 non-null    float64
 4   longitude   155 non-null    float64
 5   tipo        155 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.4+ KB
None

,id,name,navigation,latitude,longitude,tipo,latitude_longitude
0,0,inicio,159,-13.554978,-71.856025,ida,"(-13.5549784, -71.856025)"
1,1,primer stop,304,-13.554812,-71.857300,ida,"(-13.5548123, -71.8573001)"
2,2,segundo stop,281,-13.553294,-71.861944,ida,"(-13.5532944, -71.8619442)"
3,3,Ccollana,283,-13.552296,-71.867299,ida,"(-13.552296, -71.867299)"
4,4,Puente Huaccoto,283,-13.551592,-71.870211,ida,"(-13.551592, -71.870211)"
...,...,...,...,...,...,...,...
150,150,Tapia,107,-13.549241,-71.878975,vuelta,"(-13.549241, -71.878975)"
151,151,Forestal,107,-13.549985,-71.876345,vuelta,"(-13.549985, -71.876345)"
152,152,Kayra,107,-13.550608,-71.874402,vuelta,"(-13.550608, -71.874402)"
153,153,Puente,105,-13.551644,-71.870166,vuelta,"(-13.551644, -71.870166)"
154,154,Ccollana,101,-13.552338,-71.867369,vuelta,"(-13.552338, -71.867369)"

In [5]:
# Guarda el DataFrame modificado en un nuevo archivo CSV
# allbusstop_df.to_csv('../data/allbusstop.csv', index=False)

Generar los links de ida y vuelta

In [16]:
links_df = pd.DataFrame()
ini = allbusstop_df['id'].iloc[:-1].values
end = allbusstop_df['id'].iloc[1:].values
links_df['link'] = [f'{i}:{e}' for i, e in zip(ini, end )]
links_df

        link
0        0:1
1        1:2
2        2:3
3        3:4
4        4:5
..       ...
149  149:150
150  150:151
151  151:152
152  152:153
153  153:154

[154 rows x 1 columns]

a
<img src='graficos/trayectoria_bus_stops.png' width='600' height='300'>

# 2. Analisis de los registros de monitorizacion

Tareas a realizar:
- Filtrar los paraderos de vuelta (los que se usa y eliminar los que no se usan y que conincidan con el de ida)

Se da nuevo formato a la tabla, creando nuevas columnas y eliminando otras.

In [17]:
# cargar datos en bruto
monitoringdf = pd.read_csv('../data/_Process_monitoring__202303251137.csv', sep=',')
monitoringdf = monitoringdf[['id', 'latitude','longitude','date','time', 'lap', 'navigation', 'vehicle_id']]
monitoringdf

,id,latitude,longitude,date,time,lap,navigation,vehicle_id
0,13173398,-13.549597,-71.877510,2023-03-01,05:10:11,1,285,SJ39
1,13177467,-13.524529,-71.977527,2023-03-01,06:04:51,1,298,SJ34
2,13189674,-13.534183,-71.980709,2023-03-01,07:22:21,1,7,SJ29
3,13192729,-13.551146,-71.986928,2023-03-01,07:39:04,1,202,SJ21
4,13193272,-13.548642,-71.881010,2023-03-01,07:41:52,1,107,SJ34
...,...,...,...,...,...,...,...,...
1685065,17241845,-13.525440,-71.975079,2023-03-25,08:50:24,2,288,SJ24
1685066,17253753,-13.551121,-71.989621,2023-03-25,10:01:56,2,253,SJ16
1685067,17257644,-13.543207,-71.897785,2023-03-25,10:26:10,2,126,SJ24
1685068,17266468,-13.532774,-71.921865,2023-03-25,11:14:26,1,258,SJ43
1685069,17270175,-13.546567,-71.888821,2023-03-25,11:35:08,2,104,SJ14

# Cleaning

Mostramos la cantidad de datos, existen puntos que por error de lectura se leen dos veces, estos puntos se detectan si en las columnas datetime y latitud-longitud existen datos iguales, esto no debe suceder ya que el bus esta en constante movimiento como el tiempo. Como consecuencia se decide eliminar estos duplicados.

In [18]:
# DUPLICADOS
print(f'Shape dataset: {monitoringdf.shape}')

# Verificar y contar si hay puntos duplicados segun datetime y latitude_longitude
base = ['date', 'time', 'latitude', 'longitude']
twocols_dupli = monitoringdf.duplicated(subset=base)
print(f"Nro de duplicados en {base}: {twocols_dupli.sum()}")

# ============================ Solo para comprobacion ============================
# Verificar y contar si hay puntos duplicados segun latitude_longitude
# onecol_dupli =  monitoringdf['latitude_longitude'].duplicated()
# print(len(twocols_dupli), len(onecol_dupli))
# print(twocols_dupli.sum(), onecol_dupli.sum())
# print(abs(twocols_dupli.sum() - onecol_dupli.sum()))
# tmp = [ not x==y for x,y in zip(twocols_dupli, onecol_dupli)]
# data_tmp = monitoringdf.copy()
# data_tmp['dupli'] = tmp
# data_tmp[data_tmp['dupli'] == True]
# ================================================================================

# Eliminar columnas
monitoringdf.drop_duplicates(subset=base, inplace=True)
print(f"Duplicados eliminados => shape dataset: {monitoringdf.shape}")

Shape dataset: (1685070, 8)
Nro de duplicados en ['date', 'time', 'latitude', 'longitude']: 13116
Duplicados eliminados => shape dataset: (1671954, 8)

Comprobamos si existen casillas vacias (Nans) en todo el dataframe.

In [19]:
# NANs
# verificar si hay datos faltantes
print("Cantidad de NaNs:")
for col in monitoringdf:
    nans = monitoringdf[col].isna().sum()
    print(f"\tColumna {col}: {nans}")

Cantidad de NaNs:
	Columna id: 0
	Columna latitude: 0
	Columna longitude: 0
	Columna date: 0
	Columna time: 0
	Columna lap: 0
	Columna navigation: 0
	Columna vehicle_id: 0

Muestra es una ***ida y vuelta de un vehiculo***

In [20]:
# preparar el dataset para iterar en todos los posibles samples
samples_df = monitoringdf.copy()

# Crear columna sample para identificar los samples, utilizando la fecha vehiculo y lapso, todo ello encapsulado en un string
samples_df['sample'] = samples_df.apply(lambda row: f"{row['date']} {row['vehicle_id']} {row['lap']}" , axis=1)
samples_dict = {k:v for v, k in enumerate(samples_df['sample'].unique())}
samples_df['sample'] = samples_df['sample'].apply(lambda sample: samples_dict[sample])
samples_df.sort_values(by='sample', inplace=True)
print('nro posibles samples:', len(samples_dict))

# convertir date and time en el formato datetime
samples_df['datetime'] = samples_df['date'] + ' ' + samples_df['time']
samples_df['datetime'] = pd.to_datetime(samples_df['datetime'], format='%Y-%m-%d %H:%M:%S')
samples_df.drop(columns=['date', 'time'], inplace=True)

samples_df

nro posibles samples: 5015

,id,latitude,longitude,lap,navigation,vehicle_id,sample,datetime
104831,13181518,-13.522822,-71.969916,1,102,SJ39,0,2023-03-01 06:35:15
49342,13179415,-13.531396,-71.979872,1,12,SJ39,0,2023-03-01 06:20:32
27531,13178576,-13.545698,-71.983907,1,42,SJ39,0,2023-03-01 06:13:46
57321,13175650,-13.525765,-71.982937,1,111,SJ39,0,2023-03-01 05:44:47
25378,13174422,-13.530906,-71.929595,1,288,SJ39,0,2023-03-01 05:24:51
...,...,...,...,...,...,...,...,...
1679049,17019979,-13.553088,-71.863690,0,98,SJ32,5014,2023-03-24 05:13:08
1676807,17019886,-13.551734,-71.869753,0,101,SJ32,5014,2023-03-24 05:11:33
1677151,17019900,-13.551959,-71.868857,0,106,SJ32,5014,2023-03-24 05:11:45
1675441,17019830,-13.550220,-71.873981,0,194,SJ32,5014,2023-03-24 05:10:23
1675685,17019841,-13.550747,-71.873787,0,108,SJ32,5014,2023-03-24 05:10:42

# Analisis de Samples

In [22]:
# Funcion para extraer un sample por id o nombre y csv para graficar
def getSample(id=-1, name='', to_csv=False):
    if(name != ''):
        id = samples_dict.get(name, -1)
    
    if (id != -1):
        tmp = samples_df[samples_df['sample'] == id].sort_values(by='datetime').reset_index(drop=True)
        print(tmp.shape)
        name = f"{str(tmp.loc[0,'datetime']).split()[0]} {tmp.loc[0,'vehicle_id']} {tmp.loc[0,'lap']}"
        print(tmp.to_string())
        if to_csv: 
            tmp.to_csv(f'{name}- {id} -sample.csv', index=False)
    else:
        print(f'No existe una muestra {id} o {name}')

In [23]:
# cantidad de laps y vehiculos
veh = samples_df['vehicle_id'].unique()
lap = samples_df['lap'].unique()

print(len(veh))
print(sorted(veh))

print(len(lap))
print(sorted(lap))

43
['SJ01', 'SJ02', 'SJ03', 'SJ04', 'SJ05', 'SJ06', 'SJ07', 'SJ08', 'SJ09', 'SJ10', 'SJ11', 'SJ12', 'SJ13', 'SJ14', 'SJ15', 'SJ16', 'SJ17', 'SJ18', 'SJ19', 'SJ20', 'SJ21', 'SJ22', 'SJ23', 'SJ24', 'SJ25', 'SJ26', 'SJ27', 'SJ28', 'SJ29', 'SJ30', 'SJ31', 'SJ32', 'SJ33', 'SJ34', 'SJ35', 'SJ36', 'SJ37', 'SJ38', 'SJ39', 'SJ40', 'SJ41', 'SJ42', 'SJ43']
9
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8)]

In [24]:
# cantidad de puntos por LAP
samples_df.groupby('lap').size()

lap
0     43941
1    352566
2    352893
3    342559
4    326027
5    207131
6     40302
7      5896
8       639
dtype: int64

In [25]:
# Nro de samples por LAP
cp = []
for lap in range(9):
    v = samples_df[samples_df['lap'] == lap]['sample'].unique().shape[0]
    cp.append(v)

# lap = indice de la lista
cp

[932, 911, 900, 847, 768, 528, 110, 17, 2]

In [26]:
# id de samples por LAP
samples_df[samples_df['lap'] == 7]['sample'].unique()

array([ 363,  904, 1031, 1258, 1795, 1820, 2150, 2817, 3073, 3234, 3305,
       3883, 3926, 3927, 4257, 4297, 4389])

In [27]:
samples_sizes = samples_df.groupby('sample').size().to_list()
print('Max:', max(samples_sizes))
print('Min:', min(samples_sizes))

# cantidad de samples por nro de puntos
count, bins = np.histogram(samples_sizes, bins=10, range=(0, 2400))
bins = np.round(bins, 0)
ranges = {f'{int(bins[i])}-{int(bins[i+1])-1}':int(count[i]) for i in range(len(count))}
ranges

Max: 2328
Min: 1

{'0-239': 1391,
 '240-479': 3125,
 '480-719': 390,
 '720-959': 97,
 '960-1199': 8,
 '1200-1439': 2,
 '1440-1679': 1,
 '1680-1919': 0,
 '1920-2159': 0,
 '2160-2399': 1}

Se cuenta con 155 paraderos por lo que el minimo de registro que debemos aceptar es de 155

In [28]:
lap0_sizes = samples_df[samples_df['lap'] == 0].groupby('sample').size().to_list()
c, b = np.histogram(lap0_sizes, bins=10)
b = np.round(b, 0)
r = {f'{int(b[i])}-{int(b[i+1])-1}':int(c[i]) for i in range(len(c))}
print('max:', max(lap0_sizes))
print('min:', min(lap0_sizes))
r

max: 446
min: 1

{'1-45': 674,
 '46-89': 103,
 '90-133': 73,
 '134-178': 46,
 '179-223': 20,
 '224-267': 7,
 '268-311': 4,
 '312-356': 1,
 '357-401': 1,
 '402-445': 3}

En base al analisis se determina que lap 0 no posee datos que ayuden en la prediccion por lo que seran eliminados

In [29]:
samples_dfp = samples_df[(samples_df['lap'] != 0) & (samples_df['lap'] != 8) ].copy()
samples_dfp.shape

(1627374, 8)

In [30]:
samples_dfp['lap'].unique()

array([1, 2, 3, 4, 5, 6, 7])

In [32]:
sizes = samples_dfp.groupby('sample').size()
max(sizes), min(sizes)

# Nro de samples por LAP
ids_mins = []
for l in range(1, 8):
    v = samples_dfp[samples_dfp['lap'] == l]['sample'].unique()
    sizes = samples_dfp[samples_dfp['lap'] == l].groupby('sample').size().to_dict()
    print('lap:' ,l, len(v), max(sizes), min(sizes))
    ids_mins.append(sizes)

lap: 1 911 4943 0
lap: 2 900 4960 5
lap: 3 847 4988 12
lap: 4 768 4965 14
lap: 5 528 5008 18
lap: 6 110 5012 172
lap: 7 17 4389 363

In [33]:
samples_dfp.groupby('sample').size().to_dict()

{0: 427,
 1: 433,
 2: 291,
 3: 451,
 4: 426,
 5: 447,
 6: 467,
 7: 454,
 8: 262,
 9: 397,
 10: 401,
 11: 430,
 12: 481,
 13: 470,
 14: 444,
 15: 434,
 16: 450,
 17: 465,
 18: 402,
 19: 468,
 20: 464,
 22: 443,
 23: 420,
 24: 125,
 25: 331,
 26: 431,
 27: 446,
 28: 449,
 29: 450,
 30: 458,
 31: 427,
 32: 447,
 33: 415,
 34: 426,
 35: 450,
 36: 435,
 37: 475,
 38: 449,
 39: 357,
 40: 439,
 41: 453,
 42: 402,
 43: 404,
 44: 415,
 45: 452,
 46: 427,
 47: 437,
 48: 480,
 49: 272,
 50: 451,
 51: 125,
 52: 263,
 53: 414,
 54: 420,
 55: 454,
 56: 480,
 57: 429,
 58: 899,
 59: 450,
 60: 427,
 61: 446,
 62: 433,
 63: 438,
 64: 501,
 65: 433,
 66: 467,
 67: 467,
 68: 429,
 69: 457,
 70: 464,
 71: 458,
 72: 443,
 73: 123,
 74: 406,
 75: 525,
 76: 436,
 77: 684,
 78: 454,
 79: 448,
 80: 459,
 81: 411,
 82: 438,
 83: 495,
 84: 272,
 86: 414,
 87: 465,
 88: 433,
 89: 457,
 90: 443,
 91: 412,
 92: 444,
 93: 370,
 94: 467,
 95: 456,
 96: 429,
 97: 270,
 98: 622,
 99: 418,
 100: 432,
 101: 388,
 102: 425,
 103: 433,
 104: 433,
 105: 457,
 106: 439,
 107: 406,
 108: 442,
 109: 256,
 110: 418,
 111: 449,
 112: 453,
 113: 438,
 114: 431,
 115: 453,
 116: 431,
 117: 539,
 118: 441,
 119: 405,
 121: 250,
 122: 451,
 123: 435,
 124: 424,
 126: 422,
 127: 455,
 128: 437,
 129: 434,
 130: 274,
 131: 456,
 132: 469,
 133: 450,
 134: 431,
 135: 441,
 136: 463,
 137: 442,
 138: 419,
 139: 436,
 140: 435,
 141: 271,
 142: 269,
 143: 424,
 144: 417,
 145: 444,
 146: 405,
 148: 465,
 149: 450,
 151: 463,
 152: 396,
 153: 14,
 154: 427,
 155: 862,
 157: 268,
 158: 322,
 160: 189,
 161: 145,
 162: 352,
 163: 503,
 167: 471,
 168: 449,
 169: 477,
 170: 477,
 171: 525,
 172: 458,
 173: 469,
 175: 631,
 177: 413,
 178: 280,
 179: 440,
 180: 313,
 181: 508,
 182: 38,
 183: 464,
 184: 444,
 185: 456,
 186: 497,
 187: 427,
 188: 431,
 189: 436,
 190: 447,
 191: 506,
 192: 496,
 193: 440,
 194: 165,
 195: 462,
 196: 467,
 198: 13,
 200: 430,
 204: 440,
 205: 415,
 206: 407,
 207: 411,
 211: 239,
 212: 414,
 216: 453,
 217: 220,
 218: 408,
 219: 442,
 220: 413,
 221: 275,
 223: 446,
 224: 429,
 225: 436,
 226: 451,
 227: 431,
 228: 429,
 229: 451,
 230: 438,
 231: 266,
 232: 434,
 233: 424,
 234: 443,
 235: 456,
 237: 472,
 238: 412,
 239: 263,
 240: 421,
 241: 442,
 242: 257,
 244: 467,
 245: 449,
 246: 429,
 247: 457,
 248: 443,
 249: 389,
 250: 446,
 251: 426,
 261: 77,
 264: 469,
 265: 3,
 266: 444,
 267: 449,
 268: 429,
 269: 405,
 270: 263,
 274: 447,
 275: 456,
 276: 428,
 277: 315,
 278: 259,
 279: 441,
 282: 442,
 283: 1,
 284: 448,
 288: 171,
 295: 450,
 300: 463,
 301: 427,
 304: 8,
 307: 450,
 308: 460,
 309: 494,
 312: 435,
 314: 447,
 315: 464,
 316: 438,
 317: 410,
 318: 404,
 319: 425,
 320: 42,
 323: 451,
 324: 284,
 326: 422,
 333: 484,
 336: 275,
 337: 1,
 338: 452,
 341: 268,
 342: 460,
 345: 458,
 346: 441,
 347: 417,
 348: 455,
 349: 439,
 350: 267,
 351: 434,
 352: 443,
 353: 447,
 354: 402,
 355: 473,
 356: 513,
 357: 478,
 358: 511,
 359: 357,
 360: 453,
 361: 424,
 362: 429,
 363: 454,
 364: 280,
 366: 412,
 367: 425,
 368: 415,
 369: 445,
 370: 449,
 371: 226,
 372: 425,
 373: 454,
 374: 427,
 375: 426,
 376: 447,
 377: 438,
 378: 422,
 379: 274,
 380: 401,
 381: 441,
 382: 474,
 383: 379,
 384: 458,
 385: 442,
 386: 272,
 387: 436,
 388: 443,
 389: 466,
 390: 461,
 391: 455,
 392: 426,
 393: 457,
 394: 490,
 395: 314,
 396: 525,
 397: 325,
 398: 369,
 399: 436,
 400: 507,
 401: 481,
 403: 445,
 404: 455,
 405: 441,
 406: 433,
 407: 443,
 408: 430,
 409: 454,
 410: 448,
 411: 453,
 412: 437,
 413: 456,
 414: 446,
 415: 435,
 416: 441,
 417: 458,
 418: 447,
 419: 507,
 420: 438,
 421: 417,
 422: 428,
 423: 417,
 424: 443,
 425: 430,
 427: 441,
 428: 463,
 429: 263,
 430: 443,
 431: 453,
 432: 418,
 433: 426,
 434: 267,
 435: 454,
 436: 284,
 437: 421,
 438: 410,
 439: 435,
 440: 443,
 441: 464,
 442: 452,
 443: 451,
 444: 461,
 445: 459,
 446: 431,
 447: 435,
 448: 415,
 449: 436,
 450: 449,
 451: 458,
 452: 268,
 453: 292,
 454: 233,
 455: 482,
 456: 469,
 457: 451,
 458: 442,
 459: 454,
 460: 267,
 461: 414,
 462: 149,
 463: 274,
 464: 421,
 465: 453,
 466: 394,
 467: 433,
 468: 444,
 469: 450,
 470: 456,
 471: 455,
 472: 460,
 473: 472,
 474: 437,
 475: 428,
 476: 442,
 477: 454,
 478: 479,
 479: 454,
 480: 425,
 481: 431,
 482: 453,
 483: 464,
 484: 385,
 485: 424,
 486: 444,
 487: 430,
 488: 452,
 489: 454,
 490: 444,
 491: 444,
 492: 426,
 493: 451,
 494: 311,
 495: 463,
 496: 432,
 497: 460,
 498: 462,
 499: 560,
 500: 214,
 501: 446,
 502: 467,
 503: 462,
 504: 434,
 505: 449,
 506: 460,
 507: 468,
 508: 457,
 509: 444,
 510: 447,
 511: 456,
 512: 421,
 513: 416,
 515: 330,
 516: 301,
 517: 101,
 518: 439,
 519: 415,
 520: 426,
 521: 277,
 523: 451,
 526: 141,
 527: 125,
 528: 438,
 529: 277,
 530: 179,
 533: 385,
 534: 456,
 536: 389,
 537: 402,
 538: 442,
 539: 494,
 540: 420,
 542: 267,
 543: 272,
 544: 427,
 545: 437,
 546: 424,
 547: 464,
 548: 450,
 549: 431,
 550: 18,
 551: 273,
 552: 62,
 553: 446,
 554: 455,
 555: 353,
 556: 455,
 557: 454,
 558: 139,
 559: 457,
 561: 463,
 562: 265,
 563: 452,
 564: 465,
 565: 426,
 566: 399,
 567: 444,
 568: 426,
 569: 468,
 570: 460,
 571: 459,
 572: 459,
 574: 443,
 575: 493,
 576: 436,
 577: 412,
 578: 466,
 579: 266,
 580: 428,
 582: 266,
 583: 486,
 584: 427,
 585: 463,
 586: 418,
 587: 481,
 588: 444,
 589: 399,
 590: 441,
 591: 274,
 592: 431,
 593: 122,
 594: 482,
 595: 411,
 596: 316,
 597: 440,
 598: 434,
 600: 519,
 601: 499,
 602: 462,
 603: 298,
 604: 531,
 605: 509,
 606: 492,
 607: 330,
 608: 471,
 609: 293,
 610: 450,
 611: 318,
 612: 442,
 613: 502,
 614: 462,
 615: 434,
 616: 482,
 617: 487,
 618: 482,
 619: 439,
 620: 418,
 621: 171,
 622: 275,
 623: 435,
 624: 437,
 625: 268,
 626: 55,
 627: 456,
 628: 428,
 629: 252,
 630: 22,
 631: 268,
 632: 3,
 635: 29,
 636: 233,
 637: 425,
 638: 415,
 639: 422,
 640: 401,
 641: 413,
 644: 409,
 645: 499,
 646: 384,
 647: 420,
 648: 424,
 649: 406,
 651: 236,
 652: 392,
 653: 93,
 654: 447,
 655: 407,
 656: 254,
 657: 434,
 658: 429,
 659: 427,
 660: 415,
 661: 427,
 662: 429,
 663: 421,
 664: 453,
 665: 409,
 666: 424,
 667: 396,
 668: 405,
 669: 437,
 670: 423,
 671: 490,
 672: 263,
 673: 210,
 674: 354,
 675: 424,
 676: 154,
 677: 439,
 678: 392,
 679: 274,
 680: 444,
 681: 454,
 682: 77,
 683: 420,
 684: 438,
 685: 431,
 686: 428,
 687: 468,
 688: 433,
 689: 434,
 690: 413,
 691: 36,
 692: 420,
 693: 415,
 694: 374,
 695: 35,
 696: 410,
 698: 393,
 699: 447,
 700: 281,
 701: 459,
 705: 181,
 707: 1,
 708: 379,
 710: 43,
 711: 377,
 713: 834,
 714: 438,
 715: 441,
 716: 93,
 717: 420,
 718: 400,
 719: 421,
 721: 258,
 723: 45,
 731: 146,
 734: 22,
 743: 1,
 744: 417,
 745: 24,
 746: 15,
 747: 447,
 748: 711,
 749: 428,
 751: 455,
 752: 240,
 755: 275,
 757: 438,
 759: 9,
 764: 6,
 767: 443,
 768: 429,
 769: 458,
 771: 411,
 772: 418,
 773: 276,
 775: 451,
 776: 31,
 777: 457,
 780: 128,
 781: 402,
 782: 397,
 783: 410,
 784: 396,
 785: 440,
 786: 418,
 787: 453,
 788: 183,
 790: 416,
 793: 9,
 796: 419,
 798: 423,
 799: 406,
 800: 1,
 801: 125,
 802: 3,
 804: 444,
 805: 14,
 806: 449,
 808: 398,
 809: 444,
 810: 24,
 811: 245,
 812: 440,
 813: 450,
 814: 8,
 816: 432,
 820: 1,
 824: 1,
 825: 266,
 826: 445,
 827: 429,
 828: 443,
 829: 344,
 830: 483,
 832: 428,
 833: 428,
 834: 431,
 835: 416,
 836: 427,
 837: 440,
 838: 402,
 839: 244,
 840: 207,
 841: 438,
 842: 421,
 843: 449,
 844: 940,
 845: 485,
 846: 410,
 847: 431,
 848: 417,
 849: 422,
 851: 437,
 852: 422,
 853: 475,
 854: 413,
 855: 435,
 856: 266,
 857: 452,
 858: 435,
 859: 427,
 860: 457,
 861: 468,
 862: 387,
 863: 409,
 864: 517,
 865: 492,
 866: 494,
 867: 475,
 869: 431,
 870: 409,
 871: 419,
 872: 416,
 873: 406,
 874: 428,
 875: 274,
 876: 482,
 877: 901,
 878: 842,
 879: 428,
 881: 227,
 882: 442,
 883: 430,
 884: 395,
 885: 458,
 886: 427,
 887: 410,
 888: 275,
 889: 440,
 890: 416,
 891: 446,
 892: 444,
 893: 451,
 894: 109,
 895: 887,
 896: 380,
 898: 447,
 899: 422,
 900: 449,
 901: 422,
 902: 422,
 903: 498,
 904: 458,
 905: 895,
 906: 434,
 907: 431,
 908: 245,
 909: 452,
 910: 428,
 911: 454,
 912: 435,
 913: 457,
 914: 413,
 915: 508,
 916: 465,
 917: 477,
 918: 494,
 919: 352,
 920: 422,
 921: 407,
 922: 436,
 923: 439,
 924: 436,
 926: 427,
 927: 895,
 929: 198,
 930: 395,
 931: 464,
 932: 445,
 933: 441,
 934: 436,
 935: 442,
 936: 426,
 937: 132,
 938: 458,
 939: 432,
 940: 506,
 941: 428,
 942: 437,
 943: 417,
 944: 187,
 945: 422,
 946: 913,
 947: 413,
 948: 431,
 949: 403,
 951: 437,
 952: 417,
 953: 444,
 954: 454,
 955: 444,
 956: 446,
 957: 198,
 958: 398,
 959: 461,
 960: 405,
 961: 455,
 962: 403,
 965: 267,
 966: 469,
 967: 403,
 968: 443,
 969: 442,
 970: 445,
 971: 449,
 972: 458,
 973: 438,
 974: 452,
 975: 513,
 976: 428,
 977: 356,
 978: 426,
 979: 458,
 980: 212,
 981: 383,
 982: 431,
 983: 459,
 984: 423,
 985: 375,
 986: 399,
 987: 436,
 988: 437,
 989: 444,
 991: 419,
 992: 438,
 993: 432,
 994: 446,
 995: 424,
 996: 395,
 997: 269,
 998: 482,
 999: 473,
 1000: 445,
 1001: 427,
 1002: 422,
 1003: 531,
 1005: 392,
 1006: 451,
 1007: 426,
 1008: 469,
 1009: 463,
 1010: 501,
 1011: 292,
 1012: 417,
 1013: 409,
 1014: 441,
 1015: 435,
 1016: 411,
 1017: 462,
 1018: 443,
 1019: 404,
 1020: 265,
 1021: 431,
 1022: 408,
 1023: 473,
 1024: 261,
 1025: 478,
 1026: 427,
 1027: 461,
 1028: 468,
 1029: 442,
 1030: 273,
 1031: 168,
 1032: 442,
 1033: 433,
 1034: 282,
 1036: 459,
 1037: 420,
 1038: 444,
 1039: 884,
 1040: 418,
 1043: 419,
 1044: 423,
 1045: 447,
 1046: 429,
 1047: 482,
 1048: 465,
 1049: 441,
 1050: 410,
 1051: 125,
 1054: 273,
 1056: 436,
 1057: 452,
 1058: 449,
 1059: 227,
 1060: 218,
 1061: 428,
 1062: 479,
 1064: 252,
 1065: 435,
 1066: 310,
 1067: 423,
 1068: 277,
 1069: 388,
 1070: 441,
 1071: 272,
 1073: 454,
 1074: 398,
 1075: 276,
 1076: 404,
 1077: 218,
 1078: 32,
 1079: 439,
 1080: 170,
 1081: 448,
 1082: 396,
 1083: 314,
 1084: 418,
 1085: 20,
 1086: 272,
 1087: 439,
 1088: 268,
 1089: 408,
 1090: 433,
 1091: 447,
 1092: 444,
 1094: 444,
 1095: 419,
 1097: 454,
 1098: 3,
 1099: 275,
 1100: 427,
 1101: 482,
 1102: 452,
 1103: 456,
 1104: 457,
 1105: 296,
 1106: 133,
 1107: 279,
 1108: 424,
 1109: 468,
 1110: 422,
 1111: 446,
 1112: 492,
 1113: 429,
 1114: 460,
 1116: 420,
 1117: 492,
 1118: 399,
 1119: 324,
 1120: 449,
 1121: 404,
 1122: 309,
 1124: 457,
 1125: 515,
 1126: 419,
 1127: 320,
 1128: 429,
 1129: 422,
 1130: 246,
 1131: 475,
 1132: 464,
 1133: 249,
 1134: 468,
 1135: 441,
 1136: 473,
 1137: 102,
 1138: 179,
 1139: 457,
 1140: 447,
 1141: 421,
 1143: 14,
 1145: 20,
 1146: 487,
 1147: 341,
 1148: 445,
 1149: 256,
 1150: 234,
 1152: 453,
 1155: 32,
 1157: 468,
 1158: 418,
 1159: 251,
 1160: 420,
 1161: 439,
 1162: 465,
 1163: 441,
 1164: 460,
 1165: 256,
 1167: 416,
 1168: 414,
 1169: 392,
 1170: 412,
 1171: 433,
 1172: 416,
 1174: 453,
 1175: 429,
 1176: 443,
 1177: 432,
 1178: 460,
 1179: 402,
 1180: 349,
 1181: 447,
 1182: 237,
 1183: 439,
 1184: 219,
 1185: 620,
 ...}

In [34]:
fff = samples_dfp.groupby('sample').size().to_list()
print('max', max(fff))
print('min', min(fff))
ccc, bbb = np.histogram(fff, bins=1, range=(0, 220))
bbb = np.round(bbb, 0)
{f'{int(bbb[i])}-{int(bbb[i+1])-1}':int(ccc[i]) for i in range(len(ccc))}

max 2328
min 1

{'0-219': 434}

In [36]:
d = samples_dfp.groupby('sample').size().to_dict()
ids_to_drop = {}
for k, v in d.items():
    if v <= 220:
        ids_to_drop[k]=v
        
len(ids_to_drop), ids_to_drop

(434,
 {24: 125,
  51: 125,
  73: 123,
  153: 14,
  160: 189,
  161: 145,
  182: 38,
  194: 165,
  198: 13,
  217: 220,
  261: 77,
  265: 3,
  283: 1,
  288: 171,
  304: 8,
  320: 42,
  337: 1,
  462: 149,
  500: 214,
  517: 101,
  526: 141,
  527: 125,
  530: 179,
  550: 18,
  552: 62,
  558: 139,
  593: 122,
  621: 171,
  626: 55,
  630: 22,
  632: 3,
  635: 29,
  653: 93,
  673: 210,
  676: 154,
  682: 77,
  691: 36,
  695: 35,
  705: 181,
  707: 1,
  710: 43,
  716: 93,
  723: 45,
  731: 146,
  734: 22,
  743: 1,
  745: 24,
  746: 15,
  759: 9,
  764: 6,
  776: 31,
  780: 128,
  788: 183,
  793: 9,
  800: 1,
  801: 125,
  802: 3,
  805: 14,
  810: 24,
  814: 8,
  820: 1,
  824: 1,
  840: 207,
  894: 109,
  929: 198,
  937: 132,
  944: 187,
  957: 198,
  980: 212,
  1031: 168,
  1051: 125,
  1060: 218,
  1077: 218,
  1078: 32,
  1080: 170,
  1085: 20,
  1098: 3,
  1106: 133,
  1137: 102,
  1138: 179,
  1143: 14,
  1145: 20,
  1155: 32,
  1184: 219,
  1195: 96,
  1211: 3,
  1233: 11,
  1238: 22,
  1239: 2,
  1240: 10,
  1254: 32,
  1258: 1,
  1274: 17,
  1275: 40,
  1276: 19,
  1277: 45,
  1278: 29,
  1279: 11,
  1280: 54,
  1287: 23,
  1293: 1,
  1294: 11,
  1300: 34,
  1301: 1,
  1306: 173,
  1330: 180,
  1391: 165,
  1402: 59,
  1423: 149,
  1425: 189,
  1426: 171,
  1430: 14,
  1440: 110,
  1447: 147,
  1452: 114,
  1456: 177,
  1457: 56,
  1466: 180,
  1474: 4,
  1487: 13,
  1499: 172,
  1501: 220,
  1505: 174,
  1511: 94,
  1514: 153,
  1516: 151,
  1519: 61,
  1529: 107,
  1535: 20,
  1581: 53,
  1599: 149,
  1603: 124,
  1638: 5,
  1641: 10,
  1644: 1,
  1645: 77,
  1657: 1,
  1659: 1,
  1660: 20,
  1663: 20,
  1666: 119,
  1667: 32,
  1672: 9,
  1677: 25,
  1704: 1,
  1705: 20,
  1717: 5,
  1720: 12,
  1734: 79,
  1772: 120,
  1782: 208,
  1790: 157,
  1819: 169,
  1850: 77,
  1871: 212,
  1901: 166,
  1964: 156,
  1968: 5,
  1980: 206,
  1987: 159,
  1992: 181,
  1993: 28,
  2004: 109,
  2005: 2,
  2007: 155,
  2024: 38,
  2048: 70,
  2049: 12,
  2051: 89,
  2058: 103,
  2060: 107,
  2081: 13,
  2084: 109,
  2091: 117,
  2100: 10,
  2103: 79,
  2104: 82,
  2105: 114,
  2109: 105,
  2110: 32,
  2116: 16,
  2123: 29,
  2130: 134,
  2141: 91,
  2150: 103,
  2156: 16,
  2158: 154,
  2174: 5,
  2186: 4,
  2189: 59,
  2195: 19,
  2201: 1,
  2218: 148,
  2245: 134,
  2261: 207,
  2267: 9,
  2271: 108,
  2308: 141,
  2342: 207,
  2389: 113,
  2400: 11,
  2406: 86,
  2407: 95,
  2420: 77,
  2425: 44,
  2429: 68,
  2430: 143,
  2431: 83,
  2434: 65,
  2441: 110,
  2460: 203,
  2467: 175,
  2470: 8,
  2477: 52,
  2480: 23,
  2490: 9,
  2504: 148,
  2512: 21,
  2527: 48,
  2534: 198,
  2535: 53,
  2557: 9,
  2566: 211,
  2575: 88,
  2586: 42,
  2589: 16,
  2590: 28,
  2599: 36,
  2612: 135,
  2622: 184,
  2628: 64,
  2634: 18,
  2635: 1,
  2650: 76,
  2651: 6,
  2653: 2,
  2658: 139,
  2667: 160,
  2669: 55,
  2680: 198,
  2681: 193,
  2704: 20,
  2716: 62,
  2717: 2,
  2719: 5,
  2720: 21,
  2744: 2,
  2749: 2,
  2753: 154,
  2768: 173,
  2780: 68,
  2793: 109,
  2795: 206,
  2819: 190,
  2848: 25,
  2868: 140,
  2875: 149,
  2911: 74,
  2931: 186,
  2952: 152,
  2967: 215,
  2974: 110,
  2999: 89,
  3005: 94,
  3009: 72,
  3010: 55,
  3011: 170,
  3019: 38,
  3020: 208,
  3038: 38,
  3062: 39,
  3067: 188,
  3073: 1,
  3076: 180,
  3080: 219,
  3090: 173,
  3092: 178,
  3116: 211,
  3117: 2,
  3127: 40,
  3130: 8,
  3137: 97,
  3144: 7,
  3149: 81,
  3180: 174,
  3191: 4,
  3194: 72,
  3195: 189,
  3196: 175,
  3205: 20,
  3229: 55,
  3230: 106,
  3232: 17,
  3289: 188,
  3324: 151,
  3329: 152,
  3398: 195,
  3400: 86,
  3406: 19,
  3413: 215,
  3422: 116,
  3459: 95,
  3466: 29,
  3476: 58,
  3484: 9,
  3496: 197,
  3517: 66,
  3519: 2,
  3532: 65,
  3534: 193,
  3555: 1,
  3561: 16,
  3578: 156,
  3581: 205,
  3595: 39,
  3596: 36,
  3598: 7,
  3599: 30,
  3605: 1,
  3611: 11,
  3614: 24,
  3616: 5,
  3618: 1,
  3619: 8,
  3641: 181,
  3645: 107,
  3649: 26,
  3653: 93,
  3671: 2,
  3674: 3,
  3684: 37,
  3698: 4,
  3699: 3,
  3706: 1,
  3758: 211,
  3816: 43,
  3849: 174,
  3859: 175,
  3895: 201,
  3896: 138,
  3924: 30,
  3925: 187,
  3929: 4,
  3935: 5,
  3945: 137,
  3970: 5,
  3981: 193,
  3983: 197,
  4009: 8,
  4017: 28,
  4035: 18,
  4056: 42,
  4062: 190,
  4101: 9,
  4102: 43,
  4103: 19,
  4129: 173,
  4130: 9,
  4135: 3,
  4155: 4,
  4158: 1,
  4182: 3,
  4193: 30,
  4242: 173,
  4289: 209,
  4290: 195,
  4310: 187,
  4375: 172,
  4380: 143,
  4388: 111,
  4389: 147,
  4397: 36,
  4416: 129,
  4419: 5,
  4425: 168,
  4461: 3,
  4485: 218,
  4486: 3,
  4487: 218,
  4488: 9,
  4489: 7,
  4497: 3,
  4506: 21,
  4513: 42,
  4592: 19,
  4608: 30,
  4630: 1,
  4635: 8,
  4636: 3,
  4658: 43,
  4750: 159,
  4823: 121,
  4842: 22,
  4850: 95,
  4854: 1,
  4855: 39,
  4859: 84,
  4860: 182,
  4863: 43,
  4864: 45,
  4868: 15,
  4892: 215,
  4896: 185,
  4915: 9,
  4918: 18,
  4921: 207,
  4925: 194,
  4928: 7,
  4931: 182,
  4932: 132,
  4934: 149,
  4935: 68,
  4936: 101,
  4938: 129,
  4940: 110,
  4941: 3,
  4942: 65,
  4943: 135,
  4944: 97,
  4945: 26,
  4946: 42,
  4947: 6,
  4948: 46,
  4957: 30,
  4959: 1,
  4960: 9,
  4965: 6,
  4970: 1,
  4975: 1,
  4981: 4,
  4988: 2,
  5004: 3,
  5008: 4,
  5012: 1})

In [37]:
getSample(id=1060, to_csv=True)

(218, 8)
           id   latitude  longitude  lap  navigation vehicle_id  sample            datetime
0    13911376 -13.551356 -71.988164    2         286       SJ20    1060 2023-03-05 09:13:13
1    13911410 -13.551301 -71.988999    2         304       SJ20    1060 2023-03-05 09:13:35
2    13911431 -13.551319 -71.989830    2         233       SJ20    1060 2023-03-05 09:13:47
3    13911459 -13.551822 -71.990522    2         232       SJ20    1060 2023-03-05 09:14:02
4    13911485 -13.552126 -71.991177    2         278       SJ20    1060 2023-03-05 09:14:19
5    13911533 -13.551687 -71.990891    2          54       SJ20    1060 2023-03-05 09:14:43
6    13911549 -13.551224 -71.990037    2          57       SJ20    1060 2023-03-05 09:14:56
7    13911576 -13.550732 -71.989243    2          55       SJ20    1060 2023-03-05 09:15:14
8    13911600 -13.550303 -71.988744    2          46       SJ20    1060 2023-03-05 09:15:26
9    13911622 -13.549774 -71.988116    2          48       SJ20    1060 2023-03-05 09:15:38
10   13911647 -13.549167 -71.987480    2          42       SJ20    1060 2023-03-05 09:15:50
11   13911668 -13.548696 -71.986710    2          62       SJ20    1060 2023-03-05 09:16:02
12   13911713 -13.548273 -71.986079    2          53       SJ20    1060 2023-03-05 09:16:21
13   13911809 -13.547731 -71.985442    2          47       SJ20    1060 2023-03-05 09:16:33
14   13911920 -13.547080 -71.984943    2          31       SJ20    1060 2023-03-05 09:16:45
15   13912035 -13.546375 -71.984480    2          35       SJ20    1060 2023-03-05 09:16:58
16   13912190 -13.545849 -71.984026    2          42       SJ20    1060 2023-03-05 09:17:19
17   13912211 -13.545286 -71.983517    2          43       SJ20    1060 2023-03-05 09:17:31
18   13912230 -13.544753 -71.982890    2          67       SJ20    1060 2023-03-05 09:17:43
19   13912249 -13.545111 -71.982128    2         111       SJ20    1060 2023-03-05 09:17:55
20   13912269 -13.544641 -71.981941    2           8       SJ20    1060 2023-03-05 09:18:08
21   13912347 -13.543972 -71.982147    2         341       SJ20    1060 2023-03-05 09:18:58
22   13912384 -13.543343 -71.982111    2          33       SJ20    1060 2023-03-05 09:19:21
23   13912434 -13.542702 -71.981881    2         344       SJ20    1060 2023-03-05 09:19:52
24   13912504 -13.542089 -71.982208    2          22       SJ20    1060 2023-03-05 09:20:43
25   13912525 -13.541504 -71.981829    2          34       SJ20    1060 2023-03-05 09:20:58
26   13912548 -13.540973 -71.981434    2          30       SJ20    1060 2023-03-05 09:21:10
27   13912573 -13.540284 -71.981281    2          14       SJ20    1060 2023-03-05 09:21:29
28   13912611 -13.539620 -71.981088    2          18       SJ20    1060 2023-03-05 09:21:54
29   13912634 -13.538920 -71.980863    2          20       SJ20    1060 2023-03-05 09:22:06
30   13912655 -13.538144 -71.980464    2          26       SJ20    1060 2023-03-05 09:22:18
31   13912675 -13.537503 -71.980135    2          25       SJ20    1060 2023-03-05 09:22:30
32   13912692 -13.536930 -71.979931    2         352       SJ20    1060 2023-03-05 09:22:42
33   13912763 -13.536337 -71.980152    2         332       SJ20    1060 2023-03-05 09:23:38
34   13912823 -13.535689 -71.980327    2         357       SJ20    1060 2023-03-05 09:24:20
35   13912856 -13.535043 -71.980625    2         330       SJ20    1060 2023-03-05 09:24:39
36   13912873 -13.534340 -71.980700    2           5       SJ20    1060 2023-03-05 09:24:54
37   13912897 -13.533489 -71.980582    2           9       SJ20    1060 2023-03-05 09:25:06
38   13912916 -13.532690 -71.980236    2          25       SJ20    1060 2023-03-05 09:25:18
39   13912960 -13.531970 -71.980057    2          12       SJ20    1060 2023-03-05 09:25:45
40   13912975 -13.531166 -71.979841    2          14       SJ20    1060 2023-03-05 09:25:57
41   13913136 -13.530317 -71.979604    2           8       SJ20    1060 2023-03-05 09:26:10
42   13913138 -13.530324 -71.980271    2         262       SJ20    1060 2023-03-05 09:26:50
43   13913130 -13.530497 -71.981027    2         255       SJ20    1060 2023-03-05 09:27:09
44   13913108 -13.530645 -71.981714    2         259       SJ20    1060 2023-03-05 09:27:21
45   13913161 -13.530526 -71.982872    2         342       SJ20    1060 2023-03-05 09:28:06
46   13913179 -13.529893 -71.983051    2         345       SJ20    1060 2023-03-05 09:28:21
47   13913218 -13.529166 -71.983250    2         347       SJ20    1060 2023-03-05 09:28:51
48   13913257 -13.528566 -71.983560    2         303       SJ20    1060 2023-03-05 09:29:16
49   13913293 -13.528049 -71.983697    2          83       SJ20    1060 2023-03-05 09:29:41
50   13913317 -13.528043 -71.982979    2          79       SJ20    1060 2023-03-05 09:29:55
51   13913347 -13.527711 -71.982342    2          15       SJ20    1060 2023-03-05 09:30:13
52   13913377 -13.527373 -71.982931    2         288       SJ20    1060 2023-03-05 09:30:31
53   13913417 -13.527056 -71.983689    2         341       SJ20    1060 2023-03-05 09:30:55
54   13913446 -13.526429 -71.983451    2          20       SJ20    1060 2023-03-05 09:31:11
55   13913480 -13.525740 -71.983207    2          20       SJ20    1060 2023-03-05 09:31:27
56   13913578 -13.525048 -71.983300    2         286       SJ20    1060 2023-03-05 09:32:32
57   13913665 -13.524481 -71.983267    2          21       SJ20    1060 2023-03-05 09:33:21
58   13913686 -13.523847 -71.983063    2          14       SJ20    1060 2023-03-05 09:33:33
59   13913712 -13.523151 -71.982886    2          19       SJ20    1060 2023-03-05 09:33:48
60   13913865 -13.522682 -71.982395    2          44       SJ20    1060 2023-03-05 09:35:29
61   13913940 -13.522553 -71.981765    2         118       SJ20    1060 2023-03-05 09:36:16
62   13914029 -13.522810 -71.981191    2         112       SJ20    1060 2023-03-05 09:37:06
63   13914070 -13.523158 -71.980447    2         114       SJ20    1060 2023-03-05 09:37:30
64   13914123 -13.523504 -71.979762    2         115       SJ20    1060 2023-03-05 09:37:56
65   13914145 -13.523786 -71.979129    2         115       SJ20    1060 2023-03-05 09:38:09
66   13914167 -13.524056 -71.978516    2         114       SJ20    1060 2023-03-05 09:38:21
67   13914309 -13.524431 -71.977924    2         173       SJ20    1060 2023-03-05 09:39:41
68   13914405 -13.524975 -71.977843    2          98       SJ20    1060 2023-03-05 09:40:11
69   13914406 -13.525069 -71.977060    2          97       SJ20    1060 2023-03-05 09:40:23
70   13914425 -13.525289 -71.976234    2         102       SJ20    1060 2023-03-05 09:40:44
71   13914453 -13.525522 -71.975498    2         106       SJ20    1060 2023-03-05 09:40:56
72   13914484 -13.525731 -71.974816    2         106       SJ20    1060 2023-03-05 09:41:14
73   13914508 -13.525992 -71.973927    2         106       SJ20    1060 2023-03-05 09:41:26
74   13914547 -13.526263 -71.973114    2         107       SJ20    1060 2023-03-05 09:41:46
75   13914567 -13.526588 -71.972315    2         117       SJ20    1060 2023-03-05 09:41:58
76   13914714 -13.527092 -71.971669    2         129       SJ20    1060 2023-03-05 09:43:16
77   13914738 -13.527415 -71.971057    2          41       SJ20    1060 2023-03-05 09:43:30
78   13914761 -13.526781 -71.971409    2         324       SJ20    1060 2023-03-05 09:43:43
79   13914780 -13.525849 -71.971961    2         332       SJ20    1060 2023-03-05 09:43:55
80   13914821 -13.525152 -71.972349    2         338       SJ20    1060 2023-03-05 09:44:16
81   13914846 -13.524411 -71.972544    2         349       SJ20    1060 2023-03-05 09:44:29
82   13914909 -13.523617 -71.972722    2         350       SJ20    1060 2023-03-05 09:45:03
83   13914934 -13.522796 -71.972902    2         345       SJ20    1060 2023-03-05 09:45:15
84   13914990 -13.522360 -71.972741    2          99       SJ20    1060 2023-03-05 09:45:45
85   13915049 -13.522437 -71.972054    2          92       SJ20    1060 2023-03-05 09:46:18
86   13915077 -13.522563 -71.971291    2          98       SJ20    1060 2023-03-05 09:46:30
87   13915152 -13.522683 -71.970494    2          97       SJ20    1060 2023-03-05 09:47:11
88   13915159 -13.522791 -71.969602    2          97       SJ20    1060 2023-03-05 09:47:23
89   13915188 -13.522932 -71.968793    2         180       SJ20    1060 2023-03-05 09:47:40
90   13915216 -13.522651 -71.968203    2          31       SJ20    1060 2023-03-05 09:47:57
91   13915236 -13.521997 -71.967789    2          33       SJ20    1060 2023-03-05 09:48:09
92   13915297 -13.521414 -71.967387    2          46       SJ20    1060 2023-03-05 09:48:37
93   13915316 -13.521190 -71.966643    2          99       SJ20    1060 2023-03-05 09:48:49
94   13915363 -13.521420 -71.965996    2         107       SJ20    1060 2023-03-05 09:49:13
95   13915460 -13.521869 -71.964514    2         108       SJ20    1060 2023-03-05 09:49:58
96   13915487 -13.522074 -71.963794    2         103       SJ20    1060 2023-03-05 09:50:31
97   13915517 -13.522317 -71.963073    2         107       SJ20    1060 2023-03-05 09:50:53
98   13915536 -13.522572 -71.962296    2         102       SJ20    1060 2023-03-05 09:51:05
99   13915622 -13.522806 -71.961513    2         104       SJ20    1060 2023-03-05 09:51:47
100  13915650 -13.522994 -71.960957    2         105       SJ20    1060 2023-03-05 09:51:59
101  13915663 -13.523186 -71.960283    2         106       SJ20    1060 2023-03-05 09:52:12
102  13915693 -13.523422 -71.959594    2         108       SJ20    1060 2023-03-05 09:52:25
103  13915728 -13.523636 -71.958814    2         107       SJ20    1060 2023-03-05 09:52:48
104  13915756 -13.523965 -71.957789    2         107       SJ20    1060 2023-03-05 09:53:00
105  13915785 -13.524265 -71.956811    2         106       SJ20    1060 2023-03-05 09:53:12
106  13915820 -13.524487 -71.956061    2         104       SJ20    1060 2023-03-05 09:53:42
107  13915841 -13.524730 -71.955199    2         108       SJ20    1060 2023-03-05 09:53:54
108  13915876 -13.525068 -71.954207    2         108       SJ20    1060 2023-03-05 09:54:06
109  13915961 -13.525298 -71.953488    2         107       SJ20    1060 2023-03-05 09:55:06
110  13915986 -13.525567 -71.952595    2         106       SJ20    1060 2023-03-05 09:55:18
111  13916064 -13.525801 -71.951778    2         106       SJ20    1060 2023-03-05 09:56:04
112  13916089 -13.526086 -71.950851    2         107       SJ20    1060 2023-03-05 09:56:16
113  13916116 -13.526473 -71.949606    2         107       SJ20    1060 2023-03-05 09:56:28
114  13916142 -13.526825 -71.948543    2         102       SJ20    1060 2023-03-05 09:56:48
115  13916165 -13.527084 -71.947569    2         105       SJ20    1060 2023-03-05 09:57:01
116  13916189 -13.527339 -71.946521    2         102       SJ20    1060 2023-03-05 09:57:13
117  13916225 -13.527475 -71.945746    2          93       SJ20    1060 2023-03-05 09:57:37
118  13916275 -13.527686 -71.943752    2          96       SJ20    1060 2023-03-05 09:58:01
119  13916297 -13.527769 -71.942922    2          92       SJ20    1060 2023-03-05 09:58:22
120  13916320 -13.527887 -71.941897    2          99       SJ20    1060 2023-03-05 09:58:34
121  13916344 -13.528021 -71.940884    2          96       SJ20    1060 2023-03-05 09:58:46
122  13916382 -13.528194 -71.940068    2         102       SJ20    1060 2023-03-05 09:59:09
123  13916414 -13.528431 -71.939191    2         104       SJ20    1060 2023-03-05 09:59:23
124  13916440 -13.528742 -71.938119    2         105       SJ20    1060 2023-03-05 09:59:35
125  13916465 -13.529059 -71.936977    2         105       SJ20    1060 2023-03-05 09:59:47
126  13916492 -13.529288 -71.936235    2         105       SJ20    1060 2023-03-05 10:00:10
127  13916527 -13.529500 -71.935461    2         106       SJ20    1060 2023-03-05 10:00:32
128  13916570 -13.529708 -71.934671    2         101       SJ20    1060 2023-03-05 10:00:54
129  13916588 -13.529953 -71.933761    2         105       SJ20    1060 2023-03-05 10:01:07
130  13916633 -13.530207 -71.932911    2         106       SJ20    1060 2023-03-05 10:01:29
131  13916692 -13.530398 -71.932199    2         106       SJ20    1060 2023-03-05 10:01:56
132  13916719 -13.530731 -71.930945    2         105       SJ20    1060 2023-03-05 10:02:08
133  13916740 -13.531025 -71.929964    2         107       SJ20    1060 2023-03-05 10:02:29
134  13916772 -13.531290 -71.929062    2         107       SJ20    1060 2023-03-05 10:02:42
135  13916819 -13.531549 -71.928127    2         104       SJ20    1060 2023-03-05 10:03:08
136  13916858 -13.531854 -71.926976    2         104       SJ20    1060 2023-03-05 10:03:22
137  13916866 -13.532207 -71.925745    2         104       SJ20    1060 2023-03-05 10:03:34
138  13916882 -13.532642 -71.924223    2         106       SJ20    1060 2023-03-05 10:03:46
139  13916909 -13.533003 -71.922598    2          94       SJ20    1060 2023-03-05 10:03:58
140  13916938 -13.532883 -71.921460    2          72       SJ20    1060 2023-03-05 10:04:11
141  13916988 -13.532762 -71.920737    2          77       SJ20    1060 2023-03-05 10:04:40
142  13917017 -13.532537 -71.919841    2          75       SJ20    1060 2023-03-05 10:04:54
143  13917052 -13.532383 -71.918977    2          78       SJ20    1060 2023-03-05 10:05:15
144  13917077 -13.532144 -71.917897    2          77       SJ20    1060 2023-03-05 10:05:27
145  13917095 -13.531826 -71.916578    2          73       SJ20    1060 2023-03-05 10:05:39
146  13917113 -13.531664 -71.915212    2          93       SJ20    1060 2023-03-05 10:05:51
147  13917135 -13.531961 -71.914182    2         113       SJ20    1060 2023-03-05 10:06:03
148  13917159 -13.532678 -71.913099    2         125       SJ20    1060 2023-03-05 10:06:15
149  13917184 -13.533263 -71.912289    2         123       SJ20    1060 2023-03-05 10:06:27
150  13917259 -13.533691 -71.911650    2         124       SJ20    1060 2023-03-05 10:07:13
151  13917293 -13.534346 -71.910660    2         122       SJ20    1060 2023-03-05 10:07:25
152  13917332 -13.535114 -71.909487    2         122       SJ20    1060 2023-03-05 10:07:37
153  13917352 -13.535868 -71.908286    2         122       SJ20    1060 2023-03-05 10:07:49
154  13917367 -13.536686 -71.907096    2         126       SJ20    1060 2023-03-05 10:08:01
155  13917448 -13.537156 -71.906397    2         122       SJ20    1060 2023-03-05 10:08:45
156  13917468 -13.537780 -71.905427    2         123       SJ20    1060 2023-03-05 10:08:57
157  13917487 -13.538467 -71.904382    2         124       SJ20    1060 2023-03-05 10:09:09
158  13917592 -13.538931 -71.903742    2         126       SJ20    1060 2023-03-05 10:10:07
159  13917620 -13.539630 -71.902738    2         125       SJ20    1060 2023-03-05 10:10:19
160  13917647 -13.540452 -71.901608    2         128       SJ20    1060 2023-03-05 10:10:31
161  13917664 -13.540943 -71.900932    2         124       SJ20    1060 2023-03-05 10:10:46
162  13917683 -13.541675 -71.899903    2         127       SJ20    1060 2023-03-05 10:10:58
163  13917753 -13.542180 -71.899198    2         125       SJ20    1060 2023-03-05 10:11:41
164  13917780 -13.542853 -71.898303    2         130       SJ20    1060 2023-03-05 10:11:53
165  13917847 -13.543348 -71.897582    2         124       SJ20    1060 2023-03-05 10:12:30
166  13917876 -13.544068 -71.896605    2         126       SJ20    1060 2023-03-05 10:12:42
167  13917926 -13.544562 -71.895848    2         112       SJ20    1060 2023-03-05 10:13:09
168  13917950 -13.544894 -71.895161    2         113       SJ20    1060 2023-03-05 10:13:23
169  13917977 -13.545213 -71.894412    2         111       SJ20    1060 2023-03-05 10:13:35
170  13917995 -13.545467 -71.893665    2         104       SJ20    1060 2023-03-05 10:13:47
171  13918028 -13.545690 -71.892733    2         106       SJ20    1060 2023-03-05 10:13:59
172  13918047 -13.545952 -71.891728    2         104       SJ20    1060 2023-03-05 10:14:11
173  13918073 -13.546161 -71.890701    2         102       SJ20    1060 2023-03-05 10:14:23
174  13918110 -13.546085 -71.890018    2          16       SJ20    1060 2023-03-05 10:14:42
175  13918131 -13.545487 -71.889710    2          24       SJ20    1060 2023-03-05 10:14:57
176  13918175 -13.544726 -71.889340    2          32       SJ20    1060 2023-03-05 10:15:17
177  13918231 -13.543984 -71.888881    2          43       SJ20    1060 2023-03-05 10:15:47
178  13918469 -13.544182 -71.888284    2          87       SJ20    1060 2023-03-05 10:18:01
179  13918576 -13.544418 -71.887548    2         109       SJ20    1060 2023-03-05 10:19:04
180  13918656 -13.545030 -71.887410    2         192       SJ20    1060 2023-03-05 10:19:48
181  13918691 -13.545731 -71.887607    2         194       SJ20    1060 2023-03-05 10:20:04
182  13918711 -13.546385 -71.887830    2         200       SJ20    1060 2023-03-05 10:20:16
183  13918769 -13.546836 -71.887705    2         100       SJ20    1060 2023-03-05 10:20:46
184  13918790 -13.546992 -71.887057    2         102       SJ20    1060 2023-03-05 10:20:58
185  13918817 -13.547210 -71.886281    2         108       SJ20    1060 2023-03-05 10:21:10
186  13918847 -13.547433 -71.885424    2         104       SJ20    1060 2023-03-05 10:21:22
187  13918872 -13.547623 -71.884671    2         105       SJ20    1060 2023-03-05 10:21:47
188  13918892 -13.547870 -71.883846    2         107       SJ20    1060 2023-03-05 10:21:59
189  13918926 -13.548114 -71.882994    2         104       SJ20    1060 2023-03-05 10:22:11
190  13918951 -13.548340 -71.882101    2         105       SJ20    1060 2023-03-05 10:22:23
191  13918958 -13.548595 -71.881164    2         107       SJ20    1060 2023-03-05 10:22:35
192  13918991 -13.548798 -71.880454    2         104       SJ20    1060 2023-03-05 10:22:51
193  13919022 -13.549102 -71.879418    2         105       SJ20    1060 2023-03-05 10:23:03
194  13919068 -13.549334 -71.878532    2         105       SJ20    1060 2023-03-05 10:23:27
195  13919069 -13.549618 -71.877532    2         106       SJ20    1060 2023-03-05 10:23:39
196  13919095 -13.549987 -71.876358    2         108       SJ20    1060 2023-03-05 10:23:51
197  13919117 -13.550289 -71.875288    2         105       SJ20    1060 2023-03-05 10:24:03
198  13919247 -13.550514 -71.874500    2         104       SJ20    1060 2023-03-05 10:25:14
199  13919289 -13.550725 -71.873735    2         105       SJ20    1060 2023-03-05 10:25:33
200  13919308 -13.551037 -71.872600    2         104       SJ20    1060 2023-03-05 10:25:45
201  13919330 -13.551337 -71.871370    2         103       SJ20    1060 2023-03-05 10:25:57
202  13919352 -13.551546 -71.870480    2         103       SJ20    1060 2023-03-05 10:26:12
203  13919382 -13.551753 -71.869720    2         103       SJ20    1060 2023-03-05 10:26:30
204  13919403 -13.552062 -71.868476    2         103       SJ20    1060 2023-03-05 10:26:42
205  13919428 -13.552304 -71.867489    2         103       SJ20    1060 2023-03-05 10:26:55
206  13919471 -13.552481 -71.866739    2         104       SJ20    1060 2023-03-05 10:27:11
207  13919490 -13.552694 -71.865844    2         104       SJ20    1060 2023-03-05 10:27:23
208  13919546 -13.552854 -71.865135    2         100       SJ20    1060 2023-03-05 10:27:59
209  13919570 -13.552990 -71.864227    2         100       SJ20    1060 2023-03-05 10:28:13
210  13919621 -13.553132 -71.863375    2          95       SJ20    1060 2023-03-05 10:28:36
211  13919639 -13.553282 -71.862335    2          98       SJ20    1060 2023-03-05 10:28:48
212  13919689 -13.553433 -71.861432    2          95       SJ20    1060 2023-03-05 10:29:15
213  13919714 -13.553542 -71.860567    2          99       SJ20    1060 2023-03-05 10:29:27
214  13919738 -13.553831 -71.859181    2         106       SJ20    1060 2023-03-05 10:29:39
215  13919763 -13.554463 -71.857928    2         121       SJ20    1060 2023-03-05 10:29:51

Analizando las graficas, todos los samples con menos de 220 puntos no registran el circuito completo

# Funciones para calcular el travel time

In [81]:
from haversine import haversine as hvs, Unit
import numpy as np

# FUNCION: 
def searchStopsPoints(row, stops, r_nav=45, r_dtec=60):
    # verificar la navegacion y el radio de distancia
    stops = stops[abs(stops['navigation'] - row['navigation']) <= r_nav]
    stops['dis'] = stops['latitude_longitude'].apply(lambda stop: round(hvs(row['latitude_longitude'], stop, unit=Unit.METERS), 2))
    stops = stops[stops['dis'] <= r_dtec]
    
    # preparar el output
    row['stop'] = str(stops.loc[stops['dis'].idxmin(), 'id']) if len(stops) != 0 else np.nan
    row['dis'] = float(stops.loc[stops['dis'].idxmin(), 'dis']) if len(stops) != 0 else 0    
    #row['long_lati'] = row['latitude_longitude']
    return row

# FUNCION: CALCULA EL TIEMPO EN SEG DE UN PUNTO CON SU ANTERIOR
def time_travel(row, df):
    if {row['init_stop'], row['end_stop']}.issubset(set(df.index)):
        # print('if')
        ti, te =  df.loc[row['init_stop'], 'datetime'], df.loc[row['end_stop'], 'datetime']
        row['date_time_init'] = ti
        row['date_time_end'] = te
        time = abs((ti - te).total_seconds())
        
        #row['time_travel'] =  time if time < 300 else np.nan
        row['time_travel'] =  time
        row['init_idp'], row['end_idp'] = df.loc[row['init_stop'], 'id'], df.loc[row['end_stop'], 'id']

        row['ini_lat'] = df.loc[row['init_stop'], 'latitude_longitude']
        row['end_lat'] = df.loc[row['end_stop'], 'latitude_longitude']

        row['veh'] = df.loc[row['init_stop'], 'vehicle_id']
        row['lap'] = df.loc[row['init_stop'], 'lap']
        row['date'] = df.loc[row['init_stop'], 'date']


    else:
        # print('else')
        row['date_time_init'] = np.nan
        row['date_time_end'] = np.nan
        row['time_travel'] = np.nan
        row['init_idp'] = np.nan
        row['end_idp'] = np.nan
        row['veh'] = np.nan
        row['lap'] = np.nan
        row['date'] = np.nan
        
    return row

# Crear secuencias y calcular tiempos de viaje

In [41]:
index_max = samples_sizes.index(2328)
samples_df[samples_df['sample'] == index_max]

,id,latitude,longitude,lap,navigation,vehicle_id,sample,datetime
1221192,16266861,-13.524031,-71.956814,1,287,SJ01,3720,2023-03-20 16:14:53
1230461,16267078,-13.540599,-71.981332,1,8,SJ01,3720,2023-03-20 17:07:17
1359362,16266088,-13.537926,-71.904708,1,302,SJ01,3720,2023-03-20 13:04:14
1259914,16267758,-13.538938,-71.980852,1,198,SJ01,3720,2023-03-20 19:30:58
1359318,16266087,-13.538442,-71.903886,1,304,SJ01,3720,2023-03-20 13:04:02
...,...,...,...,...,...,...,...,...
1259874,16263688,-13.551513,-71.990616,1,209,SJ01,3720,2023-03-20 08:18:53
1259990,16263691,-13.551968,-71.991290,1,208,SJ01,3720,2023-03-20 08:19:09
1301444,16264684,-13.527570,-71.943359,1,275,SJ01,3720,2023-03-20 10:37:12
1259954,16267759,-13.539696,-71.981144,1,202,SJ01,3720,2023-03-20 19:31:12
1230410,16267077,-13.541348,-71.981696,1,35,SJ01,3720,2023-03-20 17:06:55

In [88]:
metrics_df = pd.DataFrame(columns=['id', 'sample'])

c = 0
for id, sample_df in samples_df.groupby('sample'):
    name = f'{str(sample_df.iloc[0, 6]).split()[0]} {sample_df.iloc[0, 5]} {sample_df.iloc[0, 3]}'
    if(sample_df.shape[0] < 5):
        print(name, f'- {sample_df.shape}')
    c += 1
c

166 SJ41 0 - (4, 8)
262 SJ25 0 - (1, 8)
265 SJ40 5 - (3, 8)
283 SJ08 5 - (1, 8)
298 SJ42 0 - (2, 8)
330 SJ17 0 - (1, 8)
335 SJ09 0 - (1, 8)
337 SJ07 5 - (1, 8)
532 SJ43 0 - (3, 8)
632 SJ43 5 - (3, 8)
633 SJ35 0 - (1, 8)
707 SJ26 5 - (1, 8)
741 SJ29 0 - (1, 8)
743 SJ40 4 - (1, 8)
762 SJ42 0 - (1, 8)
770 SJ33 0 - (2, 8)
774 SJ43 0 - (1, 8)
800 SJ06 5 - (1, 8)
802 SJ08 3 - (3, 8)
807 SJ19 0 - (4, 8)
820 SJ25 6 - (1, 8)
824 SJ34 5 - (1, 8)
868 SJ35 0 - (4, 8)
1098 SJ36 1 - (3, 8)
1115 SJ13 0 - (3, 8)
1191 SJ24 0 - (3, 8)
1211 SJ42 6 - (3, 8)
1214 SJ21 0 - (2, 8)
1232 SJ09 0 - (4, 8)
1239 SJ19 5 - (2, 8)
1241 SJ19 0 - (2, 8)
1242 SJ41 0 - (4, 8)
1258 SJ08 7 - (1, 8)
1286 SJ01 0 - (2, 8)
1293 SJ34 6 - (1, 8)
1295 SJ21 0 - (1, 8)
1301 SJ15 5 - (1, 8)
1474 SJ10 6 - (4, 8)
1548 SJ33 0 - (3, 8)
1644 SJ25 6 - (1, 8)
1657 SJ18 5 - (1, 8)
1659 SJ05 5 - (1, 8)
1662 SJ29 0 - (2, 8)
1689 SJ11 0 - (1, 8)
1691 SJ39 0 - (2, 8)
1704 SJ18 1 - (1, 8)
1714 SJ26 0 - (3, 8)
1730 SJ29 0 - (1, 8)
2005 SJ43 1 - (2, 8)
2038 SJ29 0 - (1, 8)
2055 SJ26 0 - (3, 8)
2136 SJ18 0 - (3, 8)
2157 SJ19 0 - (1, 8)
2186 SJ42 5 - (4, 8)
2194 SJ43 0 - (2, 8)
2197 SJ19 0 - (1, 8)
2201 SJ08 5 - (1, 8)
2206 SJ38 0 - (2, 8)
2531 SJ01 0 - (2, 8)
2546 SJ35 0 - (4, 8)
2611 SJ30 0 - (2, 8)
2614 SJ13 0 - (2, 8)
2635 SJ21 6 - (1, 8)
2638 SJ10 0 - (4, 8)
2643 SJ28 0 - (1, 8)
2644 SJ41 0 - (2, 8)
2645 SJ39 0 - (1, 8)
2646 SJ11 0 - (4, 8)
2649 SJ29 0 - (2, 8)
2652 SJ12 0 - (4, 8)
2653 SJ42 4 - (2, 8)
2655 SJ02 0 - (1, 8)
2713 SJ20 0 - (1, 8)
2717 SJ21 5 - (2, 8)
2726 SJ21 0 - (1, 8)
2727 SJ42 0 - (1, 8)
2744 SJ10 4 - (2, 8)
2749 SJ01 5 - (2, 8)
3069 SJ02 0 - (1, 8)
3073 SJ37 7 - (1, 8)
3117 SJ07 4 - (2, 8)
3119 SJ05 0 - (3, 8)
3165 SJ29 0 - (1, 8)
3170 SJ15 0 - (2, 8)
3187 SJ43 0 - (1, 8)
3191 SJ07 6 - (4, 8)
3440 SJ33 0 - (2, 8)
3494 SJ43 0 - (2, 8)
3519 SJ18 5 - (2, 8)
3555 SJ42 5 - (1, 8)
3601 SJ03 0 - (2, 8)
3604 SJ32 0 - (3, 8)
3605 SJ15 4 - (1, 8)
3607 SJ35 0 - (2, 8)
3608 SJ43 0 - (3, 8)
3609 SJ26 0 - (2, 8)
3613 SJ04 0 - (1, 8)
3617 SJ35 0 - (2, 8)
3618 SJ36 1 - (1, 8)
3621 SJ09 0 - (3, 8)
3625 SJ42 0 - (4, 8)
3654 SJ12 0 - (3, 8)
3657 SJ02 0 - (2, 8)
3658 SJ07 0 - (4, 8)
3668 SJ21 0 - (3, 8)
3669 SJ39 0 - (2, 8)
3670 SJ03 0 - (2, 8)
3671 SJ01 2 - (2, 8)
3674 SJ04 2 - (3, 8)
3676 SJ24 0 - (4, 8)
3698 SJ34 4 - (4, 8)
3699 SJ25 5 - (3, 8)
3700 SJ33 0 - (2, 8)
3702 SJ35 0 - (1, 8)
3705 SJ29 0 - (1, 8)
3706 SJ20 5 - (1, 8)
3929 SJ17 2 - (4, 8)
3961 SJ08 0 - (4, 8)
3967 SJ21 0 - (2, 8)
4012 SJ34 0 - (1, 8)
4107 SJ36 0 - (1, 8)
4135 SJ34 3 - (3, 8)
4141 SJ12 0 - (4, 8)
4155 SJ26 5 - (4, 8)
4158 SJ12 1 - (1, 8)
4181 SJ16 0 - (2, 8)
4182 SJ25 5 - (3, 8)
4461 SJ19 2 - (3, 8)
4486 SJ21 1 - (3, 8)
4497 SJ42 2 - (3, 8)
4546 SJ35 0 - (3, 8)
4571 SJ26 0 - (1, 8)
4575 SJ41 0 - (2, 8)
4615 SJ43 0 - (2, 8)
4630 SJ38 5 - (1, 8)
4636 SJ34 5 - (3, 8)
4854 SJ20 4 - (1, 8)
4941 SJ40 5 - (3, 8)
4949 SJ19 0 - (4, 8)
4955 SJ43 0 - (1, 8)
4959 SJ02 5 - (1, 8)
4967 SJ11 0 - (3, 8)
4968 SJ10 0 - (2, 8)
4970 SJ06 5 - (1, 8)
4972 SJ26 0 - (2, 8)
4975 SJ08 5 - (1, 8)
4981 SJ25 5 - (4, 8)
4985 SJ29 0 - (1, 8)
4988 SJ01 3 - (2, 8)
5004 SJ40 6 - (3, 8)
5008 SJ26 5 - (4, 8)
5012 SJ01 6 - (1, 8)

5015

In [89]:
samples_df.shape

(1671954, 8)

In [90]:
samples_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1671954 entries, 104831 to 1675685
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1671954 non-null  int64
 1   latitude    1671954 non-null  float64
 2   longitude   1671954 non-null  float64
 3   lap         1671954 non-null  int64
 4   navigation  1671954 non-null  int64
 5   vehicle_id  1671954 non-null  object
 6   sample      1671954 non-null  int64
 7   datetime    1671954 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 114.8+ MB

In [91]:
sample_df_tmp = samples_df.copy()
sample_df_tmp['date'] = sample_df_tmp['datetime'].apply(lambda dt: str(dt).split(' ')[0])
sample_df_tmp['latitude_longitude'] = sample_df_tmp.apply(lambda row: (row['latitude'], row['longitude']), axis=1)
sample_df_tmp.shape

(1671954, 10)

In [92]:
# iterar en todos los posibles
n_descartados = 0
list_err = []
list_samplesdf = []
date = ''
bt = 0

# Se ordena los posibles samples de manera ascendente
for ids, pointsdf in sample_df_tmp.groupby('sample'): 

    # Seguir procesamiento
    if date != pointsdf['date'].unique()[0]:
        if (bt == 1):
            break
        bt+=1

        date = pointsdf['date'].unique()[0]
        print(date)

    # ordenar la secuencia por datetime
    pointsdf.sort_values(by='datetime', inplace=True)
    
    stopsPointsdf = pointsdf.apply(lambda row: searchStopsPoints(row, allbusstop_df), axis=1)

    stopsPointsdf = stopsPointsdf[stopsPointsdf['stop'].notna()].reset_index()

    # Seleccionar un unico punto por stops
    stopsPointsdf.sort_values(by=['stop', 'dis'], ascending=True, inplace=True, ignore_index=True, key=np.int64)
    stopsPointsdf.drop_duplicates(subset=['stop'], keep='first', inplace=True, ignore_index=True)

    # filtrar los stop sin puntos 
    missing_stops = list(set(allbusstop_df['id']) - set(stopsPointsdf['stop'].unique()))

    # verificar la cantidad de puntos filtrados
    if len(missing_stops) < 24:
        # verificar la secuencialidad de los datetime
        byS = list(stopsPointsdf.sort_values(by='stop')['stop'])
        byT = list(stopsPointsdf.sort_values(by='datetime')['stop'])
        if byS == byT:
            # crear sample y calcular el travel_time
            sampledf = links_df.copy()
            stopsPointsdf.set_index('stop', inplace=True)
            sampledf = sampledf.apply(lambda row: time_travel(row, stopsPointsdf), axis=1)
            
            # crear el id_sample
            list_samplesdf.append(sampledf)
        else:
            # registrar sample defectoso
            list_err.append(stopsPointsdf)
            print(' ', ids)
    else:
        n_descartados += 1

# mostrar nro de samples encontrados
print('='*100)
print(f"{len(list_samplesdf)} Samples buenos")
print(f"{len(list_err)} Samples con errores de continuidad de tiempo")
print(f"{n_descartados} Samples descartados por falta de puntos")

2023-03-01
  0
  1
  3
  4
  5
  6
  7
  9
  10
  11
  12
  13
  14
  15
  16
  17
  18
  19
  20
  22
  23
  26
  27
  28
  29
  30
  31
  32
  33
  34
  35
  36
  37
  38
  40
  41
  42
  43
  45
  46
  47
  48
  50
  53
  54
  55
  56
  57
  58
  59
  60
  61
  62
  63
  64
  65
  66
  67
  68
  69
  70
  71
  72
  74
  75
  76
  77
  78
  79
  80
  81
  82
  83
  86
  87
  88
  89
  90
  92
  94
  95
  96
  98
  99
  100
  101
  102
  103
  104
  105
  106
  107
  108
  110
  111
  112
  113
  114
  115
  116
  117
  118
  122
  123
  124
  126
  127
  128
  129
  131
  132
  133
  134
  135
  136
  137
  138
  139
  140
  143
  144
  145
  146
  148
  149
  151
  152
  154
  155
  163
  167
  168
  169
  170
  171
  172
  173
  175
  177
  179
  181
  183
  184
  185
  186
  189
  190
  191
  192
  193
  195
  196
====================================================================================================
0 Samples buenos
152 Samples con errores de continuidad de tiempo
48 Samples descartados por falta de puntos

In [80]:
monitoringdf_tmp

NameError: name 'monitoringdf_tmp' is not defined

In [ ]:
list_samplesdf[0].columns

Index(['id_sample', 'date', 'date_time_end', 'date_time_init', 'end_idp',
       'end_lat', 'end_name', 'end_stop', 'id_link', 'ini_lat', 'init_idp',
       'init_name', 'init_stop', 'lap', 'link', 'time_travel', 'veh'],
      dtype='object')

In [ ]:
columnas_ord = ['id_sample', 'date', 'date_time_end', 'date_time_init', 'end_idp', 'end_name', 'end_stop', 'id_link', 'init_idp',
       'init_name', 'init_stop', 'lap', 'link', 'time_travel', 'veh', 'ini_lat',
       'end_lat']

In [ ]:
list_samplesdf[109][columnas_ord]

,id_sample,date,date_time_end,date_time_init,end_idp,end_name,end_stop,id_link,init_idp,init_name,init_stop,lap,link,time_travel,veh,ini_lat,end_lat
0,109,2023-03-01,2023-03-01 14:37:49,2023-03-01 14:04:39,13277666.0,primer stop,101,0,13271047.0,inicio,100,3.0,100:101,1990.0,SJ43,"(-13.5550828, -71.8559498)","(-13.5550275, -71.8570669)"
1,109,2023-03-01,2023-03-01 14:39:56,2023-03-01 14:37:49,13278087.0,segundo stop,102,1,13277666.0,primer stop,101,3.0,101:102,127.0,SJ43,"(-13.5550275, -71.8570669)","(-13.5532644, -71.8622568)"
2,109,2023-03-01,2023-03-01 14:41:46,2023-03-01 14:39:56,13278467.0,Ccollana,103,2,13278087.0,segundo stop,102,3.0,102:103,110.0,SJ43,"(-13.5532644, -71.8622568)","(-13.552325, -71.8672449)"
3,109,2023-03-01,2023-03-01 14:42:30,2023-03-01 14:41:46,13278612.0,Puente Huaccoto,104,3,13278467.0,Ccollana,103,3.0,103:104,44.0,SJ43,"(-13.552325, -71.8672449)","(-13.5516429, -71.8699255)"
4,109,2023-03-01,2023-03-01 14:43:59,2023-03-01 14:42:30,13278918.0,Kayra,105,4,13278612.0,Puente Huaccoto,104,3.0,104:105,89.0,SJ43,"(-13.5516429, -71.8699255)","(-13.5505811, -71.8741039)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,109,2023-03-01,2023-03-01 17:17:27,2023-03-01 17:17:15,13309590.0,Tapia,250,149,13309557.0,Posta,249,3.0,249:250,12.0,SJ43,"(-13.5490034, -71.8797405)","(-13.5492024, -71.8788978)"
150,109,2023-03-01,2023-03-01 17:18:16,2023-03-01 17:17:27,13309738.0,Forestal,251,150,13309590.0,Tapia,250,3.0,250:251,49.0,SJ43,"(-13.5492024, -71.8788978)","(-13.5499915, -71.8762344)"
151,109,2023-03-01,2023-03-01 17:18:40,2023-03-01 17:18:16,13309820.0,Kayra,252,151,13309738.0,Forestal,251,3.0,251:252,24.0,SJ43,"(-13.5499915, -71.8762344)","(-13.5505434, -71.8744531)"
152,109,2023-03-01,2023-03-01 17:20:18,2023-03-01 17:18:40,13310127.0,Puente,253,152,13309820.0,Kayra,252,3.0,252:253,98.0,SJ43,"(-13.5505434, -71.8744531)","(-13.5515743, -71.8703316)"
153,109,2023-03-01,2023-03-01 17:20:57,2023-03-01 17:20:18,13310244.0,Ccollana,254,153,13310127.0,Puente,253,3.0,253:254,39.0,SJ43,"(-13.5515743, -71.8703316)","(-13.5523757, -71.8675839)"

In [ ]:
list_samplesdf[109][columnas_ord].to_csv('sample_ida_vuela.csv', index=False)