In [4]:
#!pip install pandas
#!pip install numpy

In [5]:
import pandas as pd
import numpy as np

# Analisis de trayectorio

Dataset de la informacion de paraderos (busstop.csv):
- Muestra informacion de los paraderos que se utilizan durante el trayectorio de los autobuses, tanto como la latitud y longitud.
- Se consideran puntos gps en formato de latitud y longitud


Se procesa la nueva trayectoria de paraderos y analizar los radios que se les asignaran para el geofencing, creando un nuevo archivo de la trayectoria de paraderos.

In [6]:
ida = pd.read_csv('../data/busstops_ida.csv', sep=',')
ida = ida.drop(columns=['radio', 'number'])
ida['tipo'] = ['ida' for _ in range(len(ida))]
#ida

In [7]:
vuelta =  pd.read_csv('../data/busstop.csv', sep=',')
vuelta = vuelta.drop(columns=['number'])
vuelta = vuelta.tail(152-81)
vuelta['tipo'] = ['vuelta' for _ in range(len(vuelta))]
#vuelta

In [8]:
allbusstop_df = pd.concat([ida, vuelta], ignore_index=True)
allbusstop_df['id'] = [f'{i}' for i in range(len(allbusstop_df))]
print(allbusstop_df.info())
allbusstop_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          155 non-null    object
 1   name        155 non-null    object
 2   navigation  155 non-null    int64
 3   latitude    155 non-null    float64
 4   longitude   155 non-null    float64
 5   tipo        155 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.4+ KB
None

      id             name  navigation   latitude  longitude    tipo
0      0           inicio         159 -13.554978 -71.856025     ida
1      1      primer stop         304 -13.554812 -71.857300     ida
2      2     segundo stop         281 -13.553294 -71.861944     ida
3      3         Ccollana         283 -13.552296 -71.867299     ida
4      4  Puente Huaccoto         283 -13.551592 -71.870211     ida
..   ...              ...         ...        ...        ...     ...
150  150            Tapia         107 -13.549241 -71.878975  vuelta
151  151         Forestal         107 -13.549985 -71.876345  vuelta
152  152            Kayra         107 -13.550608 -71.874402  vuelta
153  153           Puente         105 -13.551644 -71.870166  vuelta
154  154         Ccollana         101 -13.552338 -71.867369  vuelta

[155 rows x 6 columns]

In [9]:
# Guarda el DataFrame modificado en un nuevo archivo CSV
allbusstop_df.to_csv('../data/allbusstop.csv', index=False)