In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Leer datos
samples_df = pd.read_csv('./../data/samples.csv') 
busstop_df = pd.read_csv('./../data/allbusstop.csv')

In [4]:
print(f'Hay {busstop_df.shape[0]} paraderos.')
print(f'Hay {samples_df.shape[0]} puntos GPS.')

Hay 155 paraderos.
Hay 1685070 puntos GPS.

### 1. Cantidad de samples con 155 puntos

In [5]:
menos_de_155 = []
for id, df in samples_df.groupby(by='sample'):
    # 1° No evaluar los DF con pocos puntos - NOTA: tenemos 155 paraderos
    if (df.shape[0]>155):
        menos_de_155.append(id)
        
print(f'Hay {len(menos_de_155)} / {samples_df['sample'].unique().shape[0]} samples con menos de 155 puntos GPS')

Hay 3806 / 5015 samples con menos de 155 puntos GPS

### 2.

# 2. Analisis de los registros de monitorizacion

Tareas a realizar:
- Filtrar los paraderos de vuelta (los que se usa y eliminar los que no se usan y que conincidan con el de ida)

Se da nuevo formato a la tabla, creando nuevas columnas y eliminando otras.

In [2]:
# cargar datos en bruto
monitoringdf = pd.read_csv('../data/_Process_monitoring__202303251137.csv', sep=',')
monitoringdf = monitoringdf[['id', 'latitude','longitude','date','time', 'lap', 'navigation', 'vehicle_id']]
monitoringdf

,id,latitude,longitude,date,time,lap,navigation,vehicle_id
0,13173398,-13.549597,-71.877510,2023-03-01,05:10:11,1,285,SJ39
1,13177467,-13.524529,-71.977527,2023-03-01,06:04:51,1,298,SJ34
2,13189674,-13.534183,-71.980709,2023-03-01,07:22:21,1,7,SJ29
3,13192729,-13.551146,-71.986928,2023-03-01,07:39:04,1,202,SJ21
4,13193272,-13.548642,-71.881010,2023-03-01,07:41:52,1,107,SJ34
...,...,...,...,...,...,...,...,...
1685065,17241845,-13.525440,-71.975079,2023-03-25,08:50:24,2,288,SJ24
1685066,17253753,-13.551121,-71.989621,2023-03-25,10:01:56,2,253,SJ16
1685067,17257644,-13.543207,-71.897785,2023-03-25,10:26:10,2,126,SJ24
1685068,17266468,-13.532774,-71.921865,2023-03-25,11:14:26,1,258,SJ43
1685069,17270175,-13.546567,-71.888821,2023-03-25,11:35:08,2,104,SJ14

# Cleaning

Mostramos la cantidad de datos, existen puntos que por error de lectura se leen dos veces, estos puntos se detectan si en las columnas datetime y latitud-longitud existen datos iguales, esto no debe suceder ya que el bus esta en constante movimiento como el tiempo. Como consecuencia se decide eliminar estos duplicados.

In [8]:
# DUPLICADOS
print(f'Shape dataset: {monitoringdf.shape}')

# Verificar y contar si hay puntos duplicados segun datetime y latitude_longitude
base = ['date', 'time', 'latitude', 'longitude']
twocols_dupli = monitoringdf.duplicated(subset=base)
print(f"Nro de duplicados en {base}: {twocols_dupli.sum()}")

# ============================ Solo para comprobacion ============================
# Verificar y contar si hay puntos duplicados segun latitude_longitude
# onecol_dupli =  monitoringdf['latitude_longitude'].duplicated()
# print(len(twocols_dupli), len(onecol_dupli))
# print(twocols_dupli.sum(), onecol_dupli.sum())
# print(abs(twocols_dupli.sum() - onecol_dupli.sum()))
# tmp = [ not x==y for x,y in zip(twocols_dupli, onecol_dupli)]
# data_tmp = monitoringdf.copy()
# data_tmp['dupli'] = tmp
# data_tmp[data_tmp['dupli'] == True]
# ================================================================================

# Eliminar columnas
monitoringdf.drop_duplicates(subset=base, inplace=True)
print(f"Duplicados eliminados => shape dataset: {monitoringdf.shape}")

Shape dataset: (1685070, 8)
Nro de duplicados en ['date', 'time', 'latitude', 'longitude']: 13116
Duplicados eliminados => shape dataset: (1671954, 8)

In [9]:
# NANs
# verificar si hay datos faltantes
print("Cantidad de NaNs:")
for col in monitoringdf:
    nans = monitoringdf[col].isna().sum()
    print(f"\tColumna {col}: {nans}")

Cantidad de NaNs:
	Columna id: 0
	Columna latitude: 0
	Columna longitude: 0
	Columna date: 0
	Columna time: 0
	Columna lap: 0
	Columna navigation: 0
	Columna vehicle_id: 0

In [10]:
# preparar el dataset para iterar en todos los posibles samples
samples_df = monitoringdf.copy()

# Crear columna sample para identificar los samples, utilizando la fecha vehiculo y lapso, todo ello encapsulado en un string
samples_df['sample'] = samples_df.apply(lambda row: f"{row['date']} {row['vehicle_id']} {row['lap']}" , axis=1)
samples_dict = {k:v for v, k in enumerate(samples_df['sample'].unique())}
samples_df['sample'] = samples_df['sample'].apply(lambda sample: samples_dict[sample])
samples_df.sort_values(by='sample', inplace=True)
print('nro posibles samples:', len(samples_dict))

# convertir date and time en el formato datetime
samples_df['datetime'] = samples_df['date'] + ' ' + samples_df['time']
samples_df['datetime'] = pd.to_datetime(samples_df['datetime'], format='%Y-%m-%d %H:%M:%S')
samples_df.drop(columns=['date', 'time'], inplace=True)

samples_df

nro posibles samples: 5015

,id,latitude,longitude,lap,navigation,vehicle_id,sample,datetime
104831,13181518,-13.522822,-71.969916,1,102,SJ39,0,2023-03-01 06:35:15
49342,13179415,-13.531396,-71.979872,1,12,SJ39,0,2023-03-01 06:20:32
27531,13178576,-13.545698,-71.983907,1,42,SJ39,0,2023-03-01 06:13:46
57321,13175650,-13.525765,-71.982937,1,111,SJ39,0,2023-03-01 05:44:47
25378,13174422,-13.530906,-71.929595,1,288,SJ39,0,2023-03-01 05:24:51
...,...,...,...,...,...,...,...,...
1679049,17019979,-13.553088,-71.863690,0,98,SJ32,5014,2023-03-24 05:13:08
1676807,17019886,-13.551734,-71.869753,0,101,SJ32,5014,2023-03-24 05:11:33
1677151,17019900,-13.551959,-71.868857,0,106,SJ32,5014,2023-03-24 05:11:45
1675441,17019830,-13.550220,-71.873981,0,194,SJ32,5014,2023-03-24 05:10:23
1675685,17019841,-13.550747,-71.873787,0,108,SJ32,5014,2023-03-24 05:10:42

# Analisis de Samples

In [11]:
# Funcion para extraer un sample por id o nombre y csv para graficar
def getSample(id=-1, name='', to_csv=False):
    if(name != ''):
        id = samples_dict.get(name, -1)
    
    if (id != -1):
        tmp = samples_df[samples_df['sample'] == id].sort_values(by='datetime').reset_index(drop=True)
        print(tmp.shape)
        name = f"{str(tmp.loc[0,'datetime']).split()[0]} {tmp.loc[0,'vehicle_id']} {tmp.loc[0,'lap']}"
        print(tmp.to_string())
        if to_csv: 
            tmp.to_csv(f'{name}- {id} -sample.csv', index=False)
            
    else:
        print(f'No existe una muestra {id} o {name}')

Comprobamos si existen casillas vacias (Nans) en todo el dataframe.

In [12]:
# NANs
# verificar si hay datos faltantes
print("Cantidad de NaNs:")
for col in monitoringdf:
    nans = monitoringdf[col].isna().sum()
    print(f"\tColumna {col}: {nans}")

Cantidad de NaNs:
	Columna id: 0
	Columna latitude: 0
	Columna longitude: 0
	Columna date: 0
	Columna time: 0
	Columna lap: 0
	Columna navigation: 0
	Columna vehicle_id: 0

In [13]:
# preparar el dataset para iterar en todos los posibles samples
samples_df = monitoringdf.copy()

# Crear columna sample para identificar los samples, utilizando la fecha vehiculo y lapso, todo ello encapsulado en un string
samples_df['sample'] = samples_df.apply(lambda row: f"{row['date']} {row['vehicle_id']} {row['lap']}" , axis=1)
samples_dict = {k:v for v, k in enumerate(samples_df['sample'].unique())}
samples_df['sample'] = samples_df['sample'].apply(lambda sample: samples_dict[sample])
samples_df.sort_values(by='sample', inplace=True)
print('nro posibles samples:', len(samples_dict))

# convertir date and time en el formato datetime
samples_df['datetime'] = samples_df['date'] + ' ' + samples_df['time']
samples_df['datetime'] = pd.to_datetime(samples_df['datetime'], format='%Y-%m-%d %H:%M:%S')
samples_df.drop(columns=['date', 'time'], inplace=True)

samples_df

nro posibles samples: 5015

,id,latitude,longitude,lap,navigation,vehicle_id,sample,datetime
104831,13181518,-13.522822,-71.969916,1,102,SJ39,0,2023-03-01 06:35:15
49342,13179415,-13.531396,-71.979872,1,12,SJ39,0,2023-03-01 06:20:32
27531,13178576,-13.545698,-71.983907,1,42,SJ39,0,2023-03-01 06:13:46
57321,13175650,-13.525765,-71.982937,1,111,SJ39,0,2023-03-01 05:44:47
25378,13174422,-13.530906,-71.929595,1,288,SJ39,0,2023-03-01 05:24:51
...,...,...,...,...,...,...,...,...
1679049,17019979,-13.553088,-71.863690,0,98,SJ32,5014,2023-03-24 05:13:08
1676807,17019886,-13.551734,-71.869753,0,101,SJ32,5014,2023-03-24 05:11:33
1677151,17019900,-13.551959,-71.868857,0,106,SJ32,5014,2023-03-24 05:11:45
1675441,17019830,-13.550220,-71.873981,0,194,SJ32,5014,2023-03-24 05:10:23
1675685,17019841,-13.550747,-71.873787,0,108,SJ32,5014,2023-03-24 05:10:42

In [14]:
# Funcion para extraer un sample por id o nombre y csv para graficar
def getSample(id=-1, name='', to_csv=False):
    if(name != ''):
        id = samples_dict.get(name, -1)
    
    if (id != -1):
        tmp = samples_df[samples_df['sample'] == id].sort_values(by='datetime').reset_index(drop=True)
        print(tmp.shape)
        name = f"{str(tmp.loc[0,'datetime']).split()[0]} {tmp.loc[0,'vehicle_id']} {tmp.loc[0,'lap']}"
        print(tmp.to_string())
        if to_csv: 
            tmp.to_csv(f'{name}- {id} -sample.csv', index=False)
    else:
        print(f'No existe una muestra {id} o {name}')

In [15]:
# cantidad de laps y vehiculos
veh = samples_df['vehicle_id'].unique()
lap = samples_df['lap'].unique()

print(len(veh))
print(sorted(veh))

print(len(lap))
print(sorted(lap))

43
['SJ01', 'SJ02', 'SJ03', 'SJ04', 'SJ05', 'SJ06', 'SJ07', 'SJ08', 'SJ09', 'SJ10', 'SJ11', 'SJ12', 'SJ13', 'SJ14', 'SJ15', 'SJ16', 'SJ17', 'SJ18', 'SJ19', 'SJ20', 'SJ21', 'SJ22', 'SJ23', 'SJ24', 'SJ25', 'SJ26', 'SJ27', 'SJ28', 'SJ29', 'SJ30', 'SJ31', 'SJ32', 'SJ33', 'SJ34', 'SJ35', 'SJ36', 'SJ37', 'SJ38', 'SJ39', 'SJ40', 'SJ41', 'SJ42', 'SJ43']
9
[np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8)]

In [16]:
# cantidad de puntos por LAP
samples_df.groupby('lap').size()

lap
0     43941
1    352566
2    352893
3    342559
4    326027
5    207131
6     40302
7      5896
8       639
dtype: int64

In [17]:
# Nro de samples por LAP
cp = []
for lap in range(9):
    v = samples_df[samples_df['lap'] == lap]['sample'].unique().shape[0]
    cp.append(v)

# lap = indice de la lista
cp

[932, 911, 900, 847, 768, 528, 110, 17, 2]

In [18]:
# id de samples por LAP
samples_df[samples_df['lap'] == 7]['sample'].unique()

array([ 363,  904, 1031, 1258, 1795, 1820, 2150, 2817, 3073, 3234, 3305,
       3883, 3926, 3927, 4257, 4297, 4389])

In [21]:
samples_sizes = samples_df.groupby('sample').size().to_list()
print('Max:', max(samples_sizes))
print('Min:', min(samples_sizes))

# cantidad de samples por nro de puntos
count, bins = np.histogram(samples_sizes, bins=10, range=(0, 2400))
bins = np.round(bins, 0)
ranges = {f'{int(bins[i])}-{int(bins[i+1])-1}':int(count[i]) for i in range(len(count))}
ranges

Max: 2328
Min: 1

{'0-239': 1391,
 '240-479': 3125,
 '480-719': 390,
 '720-959': 97,
 '960-1199': 8,
 '1200-1439': 2,
 '1440-1679': 1,
 '1680-1919': 0,
 '1920-2159': 0,
 '2160-2399': 1}

In [22]:
lap0_sizes = samples_df[samples_df['lap'] == 0].groupby('sample').size().to_list()
c, b = np.histogram(lap0_sizes, bins=10)
b = np.round(b, 0)
r = {f'{int(b[i])}-{int(b[i+1])-1}':int(c[i]) for i in range(len(c))}
print('max:', max(lap0_sizes))
print('min:', min(lap0_sizes))
r

max: 446
min: 1

{'1-45': 674,
 '46-89': 103,
 '90-133': 73,
 '134-178': 46,
 '179-223': 20,
 '224-267': 7,
 '268-311': 4,
 '312-356': 1,
 '357-401': 1,
 '402-445': 3}

In [23]:
samples_dfp = samples_df[(samples_df['lap'] != 0) & (samples_df['lap'] != 8) ].copy()
samples_dfp.shape

(1627374, 8)

In [24]:
samples_dfp['lap'].unique()

array([1, 2, 3, 4, 5, 6, 7])

In [25]:
sizes = samples_dfp.groupby('sample').size()
max(sizes), min(sizes)

# Nro de samples por LAP
ids_mins = []
for l in range(1, 8):
    v = samples_dfp[samples_dfp['lap'] == l]['sample'].unique()
    sizes = samples_dfp[samples_dfp['lap'] == l].groupby('sample').size().to_dict()
    print('lap:' ,l, len(v), max(sizes), min(sizes))
    ids_mins.append(sizes)

lap: 1 911 4943 0
lap: 2 900 4960 5
lap: 3 847 4988 12
lap: 4 768 4965 14
lap: 5 528 5008 18
lap: 6 110 5012 172
lap: 7 17 4389 363

In [26]:
samples_dfp.groupby('sample').size().to_dict()

{0: 427,
 1: 433,
 2: 291,
 3: 451,
 4: 426,
 5: 447,
 6: 467,
 7: 454,
 8: 262,
 9: 397,
 10: 401,
 11: 430,
 12: 481,
 13: 470,
 14: 444,
 15: 434,
 16: 450,
 17: 465,
 18: 402,
 19: 468,
 20: 464,
 22: 443,
 23: 420,
 24: 125,
 25: 331,
 26: 431,
 27: 446,
 28: 449,
 29: 450,
 30: 458,
 31: 427,
 32: 447,
 33: 415,
 34: 426,
 35: 450,
 36: 435,
 37: 475,
 38: 449,
 39: 357,
 40: 439,
 41: 453,
 42: 402,
 43: 404,
 44: 415,
 45: 452,
 46: 427,
 47: 437,
 48: 480,
 49: 272,
 50: 451,
 51: 125,
 52: 263,
 53: 414,
 54: 420,
 55: 454,
 56: 480,
 57: 429,
 58: 899,
 59: 450,
 60: 427,
 61: 446,
 62: 433,
 63: 438,
 64: 501,
 65: 433,
 66: 467,
 67: 467,
 68: 429,
 69: 457,
 70: 464,
 71: 458,
 72: 443,
 73: 123,
 74: 406,
 75: 525,
 76: 436,
 77: 684,
 78: 454,
 79: 448,
 80: 459,
 81: 411,
 82: 438,
 83: 495,
 84: 272,
 86: 414,
 87: 465,
 88: 433,
 89: 457,
 90: 443,
 91: 412,
 92: 444,
 93: 370,
 94: 467,
 95: 456,
 96: 429,
 97: 270,
 98: 622,
 99: 418,
 100: 432,
 101: 388,
 102: 425,
 103: 433,
 104: 433,
 105: 457,
 106: 439,
 107: 406,
 108: 442,
 109: 256,
 110: 418,
 111: 449,
 112: 453,
 113: 438,
 114: 431,
 115: 453,
 116: 431,
 117: 539,
 118: 441,
 119: 405,
 121: 250,
 122: 451,
 123: 435,
 124: 424,
 126: 422,
 127: 455,
 128: 437,
 129: 434,
 130: 274,
 131: 456,
 132: 469,
 133: 450,
 134: 431,
 135: 441,
 136: 463,
 137: 442,
 138: 419,
 139: 436,
 140: 435,
 141: 271,
 142: 269,
 143: 424,
 144: 417,
 145: 444,
 146: 405,
 148: 465,
 149: 450,
 151: 463,
 152: 396,
 153: 14,
 154: 427,
 155: 862,
 157: 268,
 158: 322,
 160: 189,
 161: 145,
 162: 352,
 163: 503,
 167: 471,
 168: 449,
 169: 477,
 170: 477,
 171: 525,
 172: 458,
 173: 469,
 175: 631,
 177: 413,
 178: 280,
 179: 440,
 180: 313,
 181: 508,
 182: 38,
 183: 464,
 184: 444,
 185: 456,
 186: 497,
 187: 427,
 188: 431,
 189: 436,
 190: 447,
 191: 506,
 192: 496,
 193: 440,
 194: 165,
 195: 462,
 196: 467,
 198: 13,
 200: 430,
 204: 440,
 205: 415,
 206: 407,
 207: 411,
 211: 239,
 212: 414,
 216: 453,
 217: 220,
 218: 408,
 219: 442,
 220: 413,
 221: 275,
 223: 446,
 224: 429,
 225: 436,
 226: 451,
 227: 431,
 228: 429,
 229: 451,
 230: 438,
 231: 266,
 232: 434,
 233: 424,
 234: 443,
 235: 456,
 237: 472,
 238: 412,
 239: 263,
 240: 421,
 241: 442,
 242: 257,
 244: 467,
 245: 449,
 246: 429,
 247: 457,
 248: 443,
 249: 389,
 250: 446,
 251: 426,
 261: 77,
 264: 469,
 265: 3,
 266: 444,
 267: 449,
 268: 429,
 269: 405,
 270: 263,
 274: 447,
 275: 456,
 276: 428,
 277: 315,
 278: 259,
 279: 441,
 282: 442,
 283: 1,
 284: 448,
 288: 171,
 295: 450,
 300: 463,
 301: 427,
 304: 8,
 307: 450,
 308: 460,
 309: 494,
 312: 435,
 314: 447,
 315: 464,
 316: 438,
 317: 410,
 318: 404,
 319: 425,
 320: 42,
 323: 451,
 324: 284,
 326: 422,
 333: 484,
 336: 275,
 337: 1,
 338: 452,
 341: 268,
 342: 460,
 345: 458,
 346: 441,
 347: 417,
 348: 455,
 349: 439,
 350: 267,
 351: 434,
 352: 443,
 353: 447,
 354: 402,
 355: 473,
 356: 513,
 357: 478,
 358: 511,
 359: 357,
 360: 453,
 361: 424,
 362: 429,
 363: 454,
 364: 280,
 366: 412,
 367: 425,
 368: 415,
 369: 445,
 370: 449,
 371: 226,
 372: 425,
 373: 454,
 374: 427,
 375: 426,
 376: 447,
 377: 438,
 378: 422,
 379: 274,
 380: 401,
 381: 441,
 382: 474,
 383: 379,
 384: 458,
 385: 442,
 386: 272,
 387: 436,
 388: 443,
 389: 466,
 390: 461,
 391: 455,
 392: 426,
 393: 457,
 394: 490,
 395: 314,
 396: 525,
 397: 325,
 398: 369,
 399: 436,
 400: 507,
 401: 481,
 403: 445,
 404: 455,
 405: 441,
 406: 433,
 407: 443,
 408: 430,
 409: 454,
 410: 448,
 411: 453,
 412: 437,
 413: 456,
 414: 446,
 415: 435,
 416: 441,
 417: 458,
 418: 447,
 419: 507,
 420: 438,
 421: 417,
 422: 428,
 423: 417,
 424: 443,
 425: 430,
 427: 441,
 428: 463,
 429: 263,
 430: 443,
 431: 453,
 432: 418,
 433: 426,
 434: 267,
 435: 454,
 436: 284,
 437: 421,
 438: 410,
 439: 435,
 440: 443,
 441: 464,
 442: 452,
 443: 451,
 444: 461,
 445: 459,
 446: 431,
 447: 435,
 448: 415,
 449: 436,
 450: 449,
 451: 458,
 452: 268,
 453: 292,
 454: 233,
 455: 482,
 456: 469,
 457: 451,
 458: 442,
 459: 454,
 460: 267,
 461: 414,
 462: 149,
 463: 274,
 464: 421,
 465: 453,
 466: 394,
 467: 433,
 468: 444,
 469: 450,
 470: 456,
 471: 455,
 472: 460,
 473: 472,
 474: 437,
 475: 428,
 476: 442,
 477: 454,
 478: 479,
 479: 454,
 480: 425,
 481: 431,
 482: 453,
 483: 464,
 484: 385,
 485: 424,
 486: 444,
 487: 430,
 488: 452,
 489: 454,
 490: 444,
 491: 444,
 492: 426,
 493: 451,
 494: 311,
 495: 463,
 496: 432,
 497: 460,
 498: 462,
 499: 560,
 500: 214,
 501: 446,
 502: 467,
 503: 462,
 504: 434,
 505: 449,
 506: 460,
 507: 468,
 508: 457,
 509: 444,
 510: 447,
 511: 456,
 512: 421,
 513: 416,
 515: 330,
 516: 301,
 517: 101,
 518: 439,
 519: 415,
 520: 426,
 521: 277,
 523: 451,
 526: 141,
 527: 125,
 528: 438,
 529: 277,
 530: 179,
 533: 385,
 534: 456,
 536: 389,
 537: 402,
 538: 442,
 539: 494,
 540: 420,
 542: 267,
 543: 272,
 544: 427,
 545: 437,
 546: 424,
 547: 464,
 548: 450,
 549: 431,
 550: 18,
 551: 273,
 552: 62,
 553: 446,
 554: 455,
 555: 353,
 556: 455,
 557: 454,
 558: 139,
 559: 457,
 561: 463,
 562: 265,
 563: 452,
 564: 465,
 565: 426,
 566: 399,
 567: 444,
 568: 426,
 569: 468,
 570: 460,
 571: 459,
 572: 459,
 574: 443,
 575: 493,
 576: 436,
 577: 412,
 578: 466,
 579: 266,
 580: 428,
 582: 266,
 583: 486,
 584: 427,
 585: 463,
 586: 418,
 587: 481,
 588: 444,
 589: 399,
 590: 441,
 591: 274,
 592: 431,
 593: 122,
 594: 482,
 595: 411,
 596: 316,
 597: 440,
 598: 434,
 600: 519,
 601: 499,
 602: 462,
 603: 298,
 604: 531,
 605: 509,
 606: 492,
 607: 330,
 608: 471,
 609: 293,
 610: 450,
 611: 318,
 612: 442,
 613: 502,
 614: 462,
 615: 434,
 616: 482,
 617: 487,
 618: 482,
 619: 439,
 620: 418,
 621: 171,
 622: 275,
 623: 435,
 624: 437,
 625: 268,
 626: 55,
 627: 456,
 628: 428,
 629: 252,
 630: 22,
 631: 268,
 632: 3,
 635: 29,
 636: 233,
 637: 425,
 638: 415,
 639: 422,
 640: 401,
 641: 413,
 644: 409,
 645: 499,
 646: 384,
 647: 420,
 648: 424,
 649: 406,
 651: 236,
 652: 392,
 653: 93,
 654: 447,
 655: 407,
 656: 254,
 657: 434,
 658: 429,
 659: 427,
 660: 415,
 661: 427,
 662: 429,
 663: 421,
 664: 453,
 665: 409,
 666: 424,
 667: 396,
 668: 405,
 669: 437,
 670: 423,
 671: 490,
 672: 263,
 673: 210,
 674: 354,
 675: 424,
 676: 154,
 677: 439,
 678: 392,
 679: 274,
 680: 444,
 681: 454,
 682: 77,
 683: 420,
 684: 438,
 685: 431,
 686: 428,
 687: 468,
 688: 433,
 689: 434,
 690: 413,
 691: 36,
 692: 420,
 693: 415,
 694: 374,
 695: 35,
 696: 410,
 698: 393,
 699: 447,
 700: 281,
 701: 459,
 705: 181,
 707: 1,
 708: 379,
 710: 43,
 711: 377,
 713: 834,
 714: 438,
 715: 441,
 716: 93,
 717: 420,
 718: 400,
 719: 421,
 721: 258,
 723: 45,
 731: 146,
 734: 22,
 743: 1,
 744: 417,
 745: 24,
 746: 15,
 747: 447,
 748: 711,
 749: 428,
 751: 455,
 752: 240,
 755: 275,
 757: 438,
 759: 9,
 764: 6,
 767: 443,
 768: 429,
 769: 458,
 771: 411,
 772: 418,
 773: 276,
 775: 451,
 776: 31,
 777: 457,
 780: 128,
 781: 402,
 782: 397,
 783: 410,
 784: 396,
 785: 440,
 786: 418,
 787: 453,
 788: 183,
 790: 416,
 793: 9,
 796: 419,
 798: 423,
 799: 406,
 800: 1,
 801: 125,
 802: 3,
 804: 444,
 805: 14,
 806: 449,
 808: 398,
 809: 444,
 810: 24,
 811: 245,
 812: 440,
 813: 450,
 814: 8,
 816: 432,
 820: 1,
 824: 1,
 825: 266,
 826: 445,
 827: 429,
 828: 443,
 829: 344,
 830: 483,
 832: 428,
 833: 428,
 834: 431,
 835: 416,
 836: 427,
 837: 440,
 838: 402,
 839: 244,
 840: 207,
 841: 438,
 842: 421,
 843: 449,
 844: 940,
 845: 485,
 846: 410,
 847: 431,
 848: 417,
 849: 422,
 851: 437,
 852: 422,
 853: 475,
 854: 413,
 855: 435,
 856: 266,
 857: 452,
 858: 435,
 859: 427,
 860: 457,
 861: 468,
 862: 387,
 863: 409,
 864: 517,
 865: 492,
 866: 494,
 867: 475,
 869: 431,
 870: 409,
 871: 419,
 872: 416,
 873: 406,
 874: 428,
 875: 274,
 876: 482,
 877: 901,
 878: 842,
 879: 428,
 881: 227,
 882: 442,
 883: 430,
 884: 395,
 885: 458,
 886: 427,
 887: 410,
 888: 275,
 889: 440,
 890: 416,
 891: 446,
 892: 444,
 893: 451,
 894: 109,
 895: 887,
 896: 380,
 898: 447,
 899: 422,
 900: 449,
 901: 422,
 902: 422,
 903: 498,
 904: 458,
 905: 895,
 906: 434,
 907: 431,
 908: 245,
 909: 452,
 910: 428,
 911: 454,
 912: 435,
 913: 457,
 914: 413,
 915: 508,
 916: 465,
 917: 477,
 918: 494,
 919: 352,
 920: 422,
 921: 407,
 922: 436,
 923: 439,
 924: 436,
 926: 427,
 927: 895,
 929: 198,
 930: 395,
 931: 464,
 932: 445,
 933: 441,
 934: 436,
 935: 442,
 936: 426,
 937: 132,
 938: 458,
 939: 432,
 940: 506,
 941: 428,
 942: 437,
 943: 417,
 944: 187,
 945: 422,
 946: 913,
 947: 413,
 948: 431,
 949: 403,
 951: 437,
 952: 417,
 953: 444,
 954: 454,
 955: 444,
 956: 446,
 957: 198,
 958: 398,
 959: 461,
 960: 405,
 961: 455,
 962: 403,
 965: 267,
 966: 469,
 967: 403,
 968: 443,
 969: 442,
 970: 445,
 971: 449,
 972: 458,
 973: 438,
 974: 452,
 975: 513,
 976: 428,
 977: 356,
 978: 426,
 979: 458,
 980: 212,
 981: 383,
 982: 431,
 983: 459,
 984: 423,
 985: 375,
 986: 399,
 987: 436,
 988: 437,
 989: 444,
 991: 419,
 992: 438,
 993: 432,
 994: 446,
 995: 424,
 996: 395,
 997: 269,
 998: 482,
 999: 473,
 1000: 445,
 1001: 427,
 1002: 422,
 1003: 531,
 1005: 392,
 1006: 451,
 1007: 426,
 1008: 469,
 1009: 463,
 1010: 501,
 1011: 292,
 1012: 417,
 1013: 409,
 1014: 441,
 1015: 435,
 1016: 411,
 1017: 462,
 1018: 443,
 1019: 404,
 1020: 265,
 1021: 431,
 1022: 408,
 1023: 473,
 1024: 261,
 1025: 478,
 1026: 427,
 1027: 461,
 1028: 468,
 1029: 442,
 1030: 273,
 1031: 168,
 1032: 442,
 1033: 433,
 1034: 282,
 1036: 459,
 1037: 420,
 1038: 444,
 1039: 884,
 1040: 418,
 1043: 419,
 1044: 423,
 1045: 447,
 1046: 429,
 1047: 482,
 1048: 465,
 1049: 441,
 1050: 410,
 1051: 125,
 1054: 273,
 1056: 436,
 1057: 452,
 1058: 449,
 1059: 227,
 1060: 218,
 1061: 428,
 1062: 479,
 1064: 252,
 1065: 435,
 1066: 310,
 1067: 423,
 1068: 277,
 1069: 388,
 1070: 441,
 1071: 272,
 1073: 454,
 1074: 398,
 1075: 276,
 1076: 404,
 1077: 218,
 1078: 32,
 1079: 439,
 1080: 170,
 1081: 448,
 1082: 396,
 1083: 314,
 1084: 418,
 1085: 20,
 1086: 272,
 1087: 439,
 1088: 268,
 1089: 408,
 1090: 433,
 1091: 447,
 1092: 444,
 1094: 444,
 1095: 419,
 1097: 454,
 1098: 3,
 1099: 275,
 1100: 427,
 1101: 482,
 1102: 452,
 1103: 456,
 1104: 457,
 1105: 296,
 1106: 133,
 1107: 279,
 1108: 424,
 1109: 468,
 1110: 422,
 1111: 446,
 1112: 492,
 1113: 429,
 1114: 460,
 1116: 420,
 1117: 492,
 1118: 399,
 1119: 324,
 1120: 449,
 1121: 404,
 1122: 309,
 1124: 457,
 1125: 515,
 1126: 419,
 1127: 320,
 1128: 429,
 1129: 422,
 1130: 246,
 1131: 475,
 1132: 464,
 1133: 249,
 1134: 468,
 1135: 441,
 1136: 473,
 1137: 102,
 1138: 179,
 1139: 457,
 1140: 447,
 1141: 421,
 1143: 14,
 1145: 20,
 1146: 487,
 1147: 341,
 1148: 445,
 1149: 256,
 1150: 234,
 1152: 453,
 1155: 32,
 1157: 468,
 1158: 418,
 1159: 251,
 1160: 420,
 1161: 439,
 1162: 465,
 1163: 441,
 1164: 460,
 1165: 256,
 1167: 416,
 1168: 414,
 1169: 392,
 1170: 412,
 1171: 433,
 1172: 416,
 1174: 453,
 1175: 429,
 1176: 443,
 1177: 432,
 1178: 460,
 1179: 402,
 1180: 349,
 1181: 447,
 1182: 237,
 1183: 439,
 1184: 219,
 1185: 620,
 ...}

En base al analisis se determina que lap 0 no posee datos que ayuden en la prediccion por lo que seran eliminados

In [27]:
fff = samples_dfp.groupby('sample').size().to_list()
print('max', max(fff))
print('min', min(fff))
ccc, bbb = np.histogram(fff, bins=1, range=(0, 220))
bbb = np.round(bbb, 0)
{f'{int(bbb[i])}-{int(bbb[i+1])-1}':int(ccc[i]) for i in range(len(ccc))}

max 2328
min 1

{'0-219': 434}

In [28]:
d = samples_dfp.groupby('sample').size().to_dict()
ids_to_drop = {}
for k, v in d.items():
    if v <= 220:
        ids_to_drop[k]=v
        
len(ids_to_drop), ids_to_drop

(434,
 {24: 125,
  51: 125,
  73: 123,
  153: 14,
  160: 189,
  161: 145,
  182: 38,
  194: 165,
  198: 13,
  217: 220,
  261: 77,
  265: 3,
  283: 1,
  288: 171,
  304: 8,
  320: 42,
  337: 1,
  462: 149,
  500: 214,
  517: 101,
  526: 141,
  527: 125,
  530: 179,
  550: 18,
  552: 62,
  558: 139,
  593: 122,
  621: 171,
  626: 55,
  630: 22,
  632: 3,
  635: 29,
  653: 93,
  673: 210,
  676: 154,
  682: 77,
  691: 36,
  695: 35,
  705: 181,
  707: 1,
  710: 43,
  716: 93,
  723: 45,
  731: 146,
  734: 22,
  743: 1,
  745: 24,
  746: 15,
  759: 9,
  764: 6,
  776: 31,
  780: 128,
  788: 183,
  793: 9,
  800: 1,
  801: 125,
  802: 3,
  805: 14,
  810: 24,
  814: 8,
  820: 1,
  824: 1,
  840: 207,
  894: 109,
  929: 198,
  937: 132,
  944: 187,
  957: 198,
  980: 212,
  1031: 168,
  1051: 125,
  1060: 218,
  1077: 218,
  1078: 32,
  1080: 170,
  1085: 20,
  1098: 3,
  1106: 133,
  1137: 102,
  1138: 179,
  1143: 14,
  1145: 20,
  1155: 32,
  1184: 219,
  1195: 96,
  1211: 3,
  1233: 11,
  1238: 22,
  1239: 2,
  1240: 10,
  1254: 32,
  1258: 1,
  1274: 17,
  1275: 40,
  1276: 19,
  1277: 45,
  1278: 29,
  1279: 11,
  1280: 54,
  1287: 23,
  1293: 1,
  1294: 11,
  1300: 34,
  1301: 1,
  1306: 173,
  1330: 180,
  1391: 165,
  1402: 59,
  1423: 149,
  1425: 189,
  1426: 171,
  1430: 14,
  1440: 110,
  1447: 147,
  1452: 114,
  1456: 177,
  1457: 56,
  1466: 180,
  1474: 4,
  1487: 13,
  1499: 172,
  1501: 220,
  1505: 174,
  1511: 94,
  1514: 153,
  1516: 151,
  1519: 61,
  1529: 107,
  1535: 20,
  1581: 53,
  1599: 149,
  1603: 124,
  1638: 5,
  1641: 10,
  1644: 1,
  1645: 77,
  1657: 1,
  1659: 1,
  1660: 20,
  1663: 20,
  1666: 119,
  1667: 32,
  1672: 9,
  1677: 25,
  1704: 1,
  1705: 20,
  1717: 5,
  1720: 12,
  1734: 79,
  1772: 120,
  1782: 208,
  1790: 157,
  1819: 169,
  1850: 77,
  1871: 212,
  1901: 166,
  1964: 156,
  1968: 5,
  1980: 206,
  1987: 159,
  1992: 181,
  1993: 28,
  2004: 109,
  2005: 2,
  2007: 155,
  2024: 38,
  2048: 70,
  2049: 12,
  2051: 89,
  2058: 103,
  2060: 107,
  2081: 13,
  2084: 109,
  2091: 117,
  2100: 10,
  2103: 79,
  2104: 82,
  2105: 114,
  2109: 105,
  2110: 32,
  2116: 16,
  2123: 29,
  2130: 134,
  2141: 91,
  2150: 103,
  2156: 16,
  2158: 154,
  2174: 5,
  2186: 4,
  2189: 59,
  2195: 19,
  2201: 1,
  2218: 148,
  2245: 134,
  2261: 207,
  2267: 9,
  2271: 108,
  2308: 141,
  2342: 207,
  2389: 113,
  2400: 11,
  2406: 86,
  2407: 95,
  2420: 77,
  2425: 44,
  2429: 68,
  2430: 143,
  2431: 83,
  2434: 65,
  2441: 110,
  2460: 203,
  2467: 175,
  2470: 8,
  2477: 52,
  2480: 23,
  2490: 9,
  2504: 148,
  2512: 21,
  2527: 48,
  2534: 198,
  2535: 53,
  2557: 9,
  2566: 211,
  2575: 88,
  2586: 42,
  2589: 16,
  2590: 28,
  2599: 36,
  2612: 135,
  2622: 184,
  2628: 64,
  2634: 18,
  2635: 1,
  2650: 76,
  2651: 6,
  2653: 2,
  2658: 139,
  2667: 160,
  2669: 55,
  2680: 198,
  2681: 193,
  2704: 20,
  2716: 62,
  2717: 2,
  2719: 5,
  2720: 21,
  2744: 2,
  2749: 2,
  2753: 154,
  2768: 173,
  2780: 68,
  2793: 109,
  2795: 206,
  2819: 190,
  2848: 25,
  2868: 140,
  2875: 149,
  2911: 74,
  2931: 186,
  2952: 152,
  2967: 215,
  2974: 110,
  2999: 89,
  3005: 94,
  3009: 72,
  3010: 55,
  3011: 170,
  3019: 38,
  3020: 208,
  3038: 38,
  3062: 39,
  3067: 188,
  3073: 1,
  3076: 180,
  3080: 219,
  3090: 173,
  3092: 178,
  3116: 211,
  3117: 2,
  3127: 40,
  3130: 8,
  3137: 97,
  3144: 7,
  3149: 81,
  3180: 174,
  3191: 4,
  3194: 72,
  3195: 189,
  3196: 175,
  3205: 20,
  3229: 55,
  3230: 106,
  3232: 17,
  3289: 188,
  3324: 151,
  3329: 152,
  3398: 195,
  3400: 86,
  3406: 19,
  3413: 215,
  3422: 116,
  3459: 95,
  3466: 29,
  3476: 58,
  3484: 9,
  3496: 197,
  3517: 66,
  3519: 2,
  3532: 65,
  3534: 193,
  3555: 1,
  3561: 16,
  3578: 156,
  3581: 205,
  3595: 39,
  3596: 36,
  3598: 7,
  3599: 30,
  3605: 1,
  3611: 11,
  3614: 24,
  3616: 5,
  3618: 1,
  3619: 8,
  3641: 181,
  3645: 107,
  3649: 26,
  3653: 93,
  3671: 2,
  3674: 3,
  3684: 37,
  3698: 4,
  3699: 3,
  3706: 1,
  3758: 211,
  3816: 43,
  3849: 174,
  3859: 175,
  3895: 201,
  3896: 138,
  3924: 30,
  3925: 187,
  3929: 4,
  3935: 5,
  3945: 137,
  3970: 5,
  3981: 193,
  3983: 197,
  4009: 8,
  4017: 28,
  4035: 18,
  4056: 42,
  4062: 190,
  4101: 9,
  4102: 43,
  4103: 19,
  4129: 173,
  4130: 9,
  4135: 3,
  4155: 4,
  4158: 1,
  4182: 3,
  4193: 30,
  4242: 173,
  4289: 209,
  4290: 195,
  4310: 187,
  4375: 172,
  4380: 143,
  4388: 111,
  4389: 147,
  4397: 36,
  4416: 129,
  4419: 5,
  4425: 168,
  4461: 3,
  4485: 218,
  4486: 3,
  4487: 218,
  4488: 9,
  4489: 7,
  4497: 3,
  4506: 21,
  4513: 42,
  4592: 19,
  4608: 30,
  4630: 1,
  4635: 8,
  4636: 3,
  4658: 43,
  4750: 159,
  4823: 121,
  4842: 22,
  4850: 95,
  4854: 1,
  4855: 39,
  4859: 84,
  4860: 182,
  4863: 43,
  4864: 45,
  4868: 15,
  4892: 215,
  4896: 185,
  4915: 9,
  4918: 18,
  4921: 207,
  4925: 194,
  4928: 7,
  4931: 182,
  4932: 132,
  4934: 149,
  4935: 68,
  4936: 101,
  4938: 129,
  4940: 110,
  4941: 3,
  4942: 65,
  4943: 135,
  4944: 97,
  4945: 26,
  4946: 42,
  4947: 6,
  4948: 46,
  4957: 30,
  4959: 1,
  4960: 9,
  4965: 6,
  4970: 1,
  4975: 1,
  4981: 4,
  4988: 2,
  5004: 3,
  5008: 4,
  5012: 1})